.cv {
    width: 100%;
    //border: 1px solid #9b9999;
    box-shadow: 0 4px 8px 0 rgba(168, 178, 186, 0.3);
    @media only screen and (max-width: 600px) {
        padding: 0;
    }
    .cv-o {
        width: 100%;
        padding: 16px;
        border: 1px solid lightgrey;
    }
    .img {
        height: 140px;
        width: 140px;
        position: absolute;
        padding: 4px;
        background-color: rgb(231, 227, 227);
        top: -70px;
        left: 25px;
        @media only screen and (max-width: 600px) {
            height: 120px;
            width: 120px;
            top: -60px;
            left: 18px;
        }
    }
    .name {
        font-weight: 600;
        color: white;
        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: flex-end;
        }
    }
    .title {
        color: white;
        font-weight: 600;
        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: center;
        }
    }
}