<nz-spin *ngIf="hide" class="loading" nzTip="Đang tải dữ liệu..."></nz-spin>
<div class='cv' *ngIf="!hide">
    <div nz-row>
        <div class="mobile" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="10" style="padding: 16px; background-color: rgb(235, 233, 233);">
            <div nz-row>
                <div nz-col class="img">
                    <img [ngStyle]="{'border-color': resume.theme.color}"
                        [src]="resume.info.img? resume.info.img : 'assets/icon/user.svg'" alt=""
                        style="object-fit: cover;width: 100%;border: 5px solid; margin: auto;border-radius: 100%;height: 100%;">

                </div>
                <div style="padding-top: 8px; width: 100%;">
                    <textarea disabled="true" [minRows]="1" autosize [ngStyle]="{'color': resume.theme.color,
                        'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.name+5}"
                        style="background-color: transparent;width: 100%; text-align: center;font-weight: 700; padding: 0;"
                        type="text" class='online-content' [(ngModel)]="resume.info.name"></textarea>
                    <input disabled="true"
                        [ngStyle]="{'color': resume.theme.color,'fontSize.pt': resume.theme.font+3 ,'font-family':resume.theme.fontfamily}"
                        style="background-color: transparent;font-weight: 600;text-align: center;text-transform: capitalize; width: 100%;padding: 0;"
                        type="text" class='online-content' [(ngModel)]="resume.title" />
                </div>
            </div>

            <div nz-row style="width: 100%;padding-top: 16px;margin-bottom: 4px;">
                <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                    nz-col class='name'>
                    <input disabled="true" class='online' type="text" [(ngModel)]="resume.info.title">
                </div>
                <div style="width: 100%;"
                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                    <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="calendar" nzTheme="outline"></i>
                    <input disabled="true" style="background-color: transparent;" autoSizeInput type="text"
                        class='online-content' [(ngModel)]="resume.info.dateBirth" />
                </div>
                <div style="width: 100%;"
                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                    <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="user" nzTheme="outline"></i> <input
                        disabled="true" style="background-color: transparent;" autoSizeInput type="text"
                        class='online-content' [(ngModel)]="resume.info.sex" />
                </div>
                <div style="width: 100%;"
                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                    <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="phone" nzTheme="outline"></i>
                    <input disabled="true" style="background-color: transparent;" autoSizeInput type="text"
                        class='online-content' [(ngModel)]="resume.info.phone" />
                </div>
                <div style="width: 100%;"
                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                    <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="mail" nzTheme="outline"></i> <input
                        disabled="true" style="background-color: transparent;" autoSizeInput type="text"
                        class='online-content' [(ngModel)]="resume.info.email" />
                </div>
                <div style="width: 100%; display: flex; align-items: center;"
                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                    <i [ngStyle]="{'color': resume.theme.color}" nz-icon>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 368.16 368.16"
                            style="enable-background:new 0 0 368.16 368.16;" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path d="M184.08,0c-74.992,0-136,61.008-136,136c0,24.688,11.072,51.24,11.536,52.36c3.576,8.488,10.632,21.672,15.72,29.4
        l93.248,141.288c3.816,5.792,9.464,9.112,15.496,9.112s11.68-3.32,15.496-9.104l93.256-141.296
        c5.096-7.728,12.144-20.912,15.72-29.4c0.464-1.112,11.528-27.664,11.528-52.36C320.08,61.008,259.072,0,184.08,0z
         M293.8,182.152c-3.192,7.608-9.76,19.872-14.328,26.8l-93.256,141.296c-1.84,2.792-2.424,2.792-4.264,0L88.696,208.952
        c-4.568-6.928-11.136-19.2-14.328-26.808C74.232,181.816,64.08,157.376,64.08,136c0-66.168,53.832-120,120-120
        c66.168,0,120,53.832,120,120C304.08,157.408,293.904,181.912,293.8,182.152z" />
                                        <path d="M184.08,64.008c-39.704,0-72,32.304-72,72c0,39.696,32.296,72,72,72c39.704,0,72-32.304,72-72
        C256.08,96.312,223.784,64.008,184.08,64.008z M184.08,192.008c-30.872,0-56-25.12-56-56s25.128-56,56-56s56,25.12,56,56
        S214.952,192.008,184.08,192.008z" />
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </i> <textarea disabled="true" style="background-color: transparent;" [minRows]="1" autosize
                        type="text" class='online-content' [(ngModel)]="resume.info.address"></textarea>
                </div>
            </div>



            <!-- goal -->
            <div *ngIf='resume.goal.status'>
                <div nz-row style="width: 100%;padding-top: 16px;margin-bottom: 4px;">
                    <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                        nz-col class='name'>

                        <input disabled="true" class='online' type="text" [(ngModel)]="resume.goal.title">
                    </div>
                    <div nz-row style="width: 100%;">
                        <div style="width: 100%;"
                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                            class='decs-just'>
                            <textarea disabled="true" style="width: 100%;" autosize type="text" class='online-content'
                                [(ngModel)]="resume.goal.value"></textarea>
                        </div>
                    </div>
                </div>
            </div>




            <div>
                <div *ngFor="let data of  resume.data_slc; let i = index">


                    <div nz-row style="width: 100%;padding-top: 16px;margin-bottom: 4px;" *ngIf="data.status">

                        <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                            nz-col class='name'>

                            <input disabled="true" class='online' type="text" [(ngModel)]="data.title">
                        </div>
                        <div nz-row *ngFor="let item of data.data; let j = index" style="width: 100%;">


                            <!-- chứng chỉ, giải thưởng -->
                            <div *ngIf="data.titleStatus !=='Kỹ năng' && data.titleStatus !=='Yêu thích' && data.titleStatus !=='Ngôn ngữ'"
                                style="width: 100%;display: flex;">
                                <div style="width: 75%;"
                                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                    class='decs-just'>
                                    <textarea disabled="true" class="decs-just" [minRows]="1" autosize type="text"
                                        class='online-content' [(ngModel)]="item.value"></textarea>
                                </div>
                                <div style="width: 25%;" [ngStyle]="{'font-family':resume.theme.fontfamily}">
                                    <textarea disabled="true"
                                        style="font-weight: 700; text-align: end; font-size: .9em;" class="decs-just"
                                        [minRows]="1" autosize type="text" class='online-content'
                                        [(ngModel)]="item.name"></textarea>
                                </div>
                            </div>


                            <!-- yêu thích -->
                            <div nz-row *ngIf="data.titleStatus =='Yêu thích'" style="width: 100%;">
                                <div style="width: 100%;"
                                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                    class='decs-just'>
                                    <textarea disabled="true" style="width: 100%;" class="decs-just" [minRows]="1"
                                        autosize type="text" class='online-content' [(ngModel)]="item.value"></textarea>
                                </div>
                            </div>

                            <!-- ngôn ngữ -->
                            <div *ngIf="data.titleStatus =='Ngôn ngữ' && data.titleStatus !=='Yêu thích'" nz-row
                                style="width: 100%;display: flex;align-items: center;">
                                <div style="display: flex;align-items: center"
                                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                    class='decs-just'><input autoSizeInput type="text" class='online-content'
                                        [(ngModel)]="item.name">:
                                    <textarea disabled="true" class="decs-just" [minRows]="1" autosize type="text"
                                        class='online-content' [(ngModel)]="item.value"></textarea>

                                </div>
                            </div>

                            <!-- kỹ năng -->
                            <div *ngIf="data.titleStatus =='Kỹ năng'"
                                style="width: 100%;display: flex;align-items: center;">
                                <div nz-col nzSpan="10"
                                    [ngStyle]="{'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font}">
                                    <textarea disabled="true" class="decs-just" [minRows]="1" autosize type="text"
                                        class='online-content' [(ngModel)]="item.name"></textarea>
                                </div>
                                <div nz-col nzSpan="14">
                                    <div style="border: 1px solid; height: 12px; border-radius: 3px;"
                                        [ngStyle]="{'border-color': resume.theme.color}">
                                        <div [ngStyle]="{'background-color': resume.theme.color,'color': resume.theme.color}"
                                            [style.width.%]='item.value' style="height: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div>
                <div *ngFor="let data of  resume.data_adr; let i = index">

                    <div nz-row style="width: 100%;padding-top: 16px;margin-bottom: 4px;" *ngIf="data.status">
                        <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                            nz-col class='name'>

                            <input disabled="true" class='online' type="text" [(ngModel)]="data.title">
                        </div>
                        <div nz-row style="width: 100%;">
                            <div style="width: 100%;"
                                [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                class='decs-just'>
                                <textarea disabled="true" [minRows]="1" autosize style="width: 100%;" type="text"
                                    class='online-content' [(ngModel)]="data.value"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="mobile" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14" nzXl="14" style="padding: 16px; background-color: rgb(250, 250, 250)">



            <!-- educations -->
            <div>
                <div *ngFor="let data of  resume.data_eec; let i = index">

                    <div *ngIf="data.status" nz-row style="width: 100%;margin-bottom: 4px;">
                        <div [ngStyle]="{'background-color': resume.theme.color,'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                            nz-col class='name-1'>

                            <input disabled="true" class='online' type="text" [(ngModel)]="data.title">
                        </div>
                        <div nz-row *ngFor="let item of data.data; let j = index" style="width: 100%;">
                            <div nz-col style="display: flex;flex-direction: column;width: 100%;">

                                <div
                                    [ngStyle]="{'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font}">
                                    <textarea disabled="true" [minRows]="1" autosize
                                        style="width: 100%; font-weight: 700;" type="text" class='online-content'
                                        [(ngModel)]="item.name"></textarea>
                                </div>
                                <span> <input disabled="true" [ngStyle]="{'fontSize.pt':resume.theme.font - 1}"
                                        style="font-weight: 500;" class="online-content" autoSizeInput
                                        [(ngModel)]="item.start"> -
                                    <input disabled="true" [ngStyle]="{'fontSize.pt':resume.theme.font -1}"
                                        style="font-weight: 500;" autoSizeInput class="online-content"
                                        [(ngModel)]="item.end"></span>
                                <div
                                    [ngStyle]="{'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font}">
                                    <textarea disabled="true" [ngStyle]="{'color': resume.theme.color}" [minRows]="1"
                                        autosize style="width: 100%;" type="text" class='online-content'
                                        [(ngModel)]="item.position "></textarea>
                                </div>
                                <div class='decs-just'
                                    [ngStyle]="{ 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font} ">
                                    <textarea disabled="true" [minRows]="1 " autosize style="width: 100%; " type="text "
                                        class='online-content' [(ngModel)]="item.describe "></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>



        </div>
    </div>
</div>