<div class="wrapper-container">
    <div class="row" style="padding: 8px; height: 100%;">
        <div class="col-4" style="height: 100%;" *ngIf="!isMobile">
            <h4>{{title}}</h4>
            <div class="menu">
                <div [style.color]="title == 'Đọc thư' ? '#6d22e6': ''" (click)="setTitle('Đọc thư')" class="title" routerLink="/doc-thu">
                    Đọc thư
                </div>
                <div [style.color]="title == 'Bức thư hôm nay' ? '#6d22e6': ''" (click)="setTitle('Bức thư hôm nay')" class="title" routerLink="/doc-thu/buc-thu-hom-nay">
                    Bức thư hôm nay
                </div>
                <div  [style.color]="title == 'Yêu thích' ? '#6d22e6': ''" (click)="setTitle('Yêu thích')" class="title" routerLink="/doc-thu/yeu-thich">
                    Yêu thích
                </div>
               
            </div>
        </div>
        <div [class]="isMobile ? 'col-12': 'col-8'" style="height: 100%;">
            <div class="mobile" *ngIf="isMobile">
                <div [style.color]="title == 'Đọc thư' ? '#6d22e6': ''" (click)="setTitle('Đọc thư')" class="title" routerLink="/doc-thu">
                    Đọc thư
                </div>
                <div [style.color]="title == 'Bức thư hôm nay' ? '#6d22e6': ''" (click)="setTitle('Bức thư hôm nay')" class="title" routerLink="/doc-thu/buc-thu-hom-nay">
                    Bức thư hôm nay
                </div>
                <div  [style.color]="title == 'Yêu thích' ? '#6d22e6': ''" (click)="setTitle('Yêu thích')" class="title" routerLink="/doc-thu/yeu-thich">
                    Yêu thích
                </div>
               
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>