<div class="wrapper-container">
    <div class="fr-title">
        <span class="icon" nz-icon nzType="form" nzTheme="outline"></span>
        <h3>Tạo CV online <span style="color: #009900;">ấn tượng</span> cho bạn</h3>
    </div>
    <h5>Bằng công nghệ và sự nhiệt huyết Jobngon tạo ra nền tảng cho phép người lao động tạo CV, phát triển được các kỹ năng cá nhân, xây dựng hình ảnh chuyên nghiệp trong mắt nhà tuyển dụng và tiếp cận với các cơ hội việc làm phù hợp.</h5>
    <div class="fr-jobs">
        <div class="row" style="padding: 16px;">
           <div class="col-12">
            <img style="width: 100%;" src="https://firebasestorage.googleapis.com/v0/b/viethmoon.appspot.com/o/jobsngon%2Fcv.png?alt=media&token=9c084a33-8547-4c2b-8dc4-392f105a2649" alt="">
           </div>
        </div>
    </div>
</div>