<div class="body">
    <footer class="py-5">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-3">
                <img src="assets/logo.svg" alt="" style="width: 250px;">
                <div style="color: white; display: flex; flex-direction: column; justify-content: center;">
                    <div style="display: flex; align-items: center;">
                        <span nz-icon nzType="global" nzTheme="outline" style="margin-right: 8px;"></span><span>51 Đường
                            số 2, Cityland Park Hills, Gò Vấp, Thành phố Hồ Chí Minh</span>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <span nz-icon nzType="phone" nzTheme="outline" style="margin-right: 8px;"></span><span>028 7300
                            1013</span>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <span nz-icon nzType="mail" nzTheme="outline"
                            style="margin-right: 8px;"></span><span>jobsngon@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-3">
                <h5>Về Jobsngon</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Tìm việc</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Tạo CV</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Công ty</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Đăng tin</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-3">
                <h5>Việc làm theo ngôn ngữ</h5>
                <ul class="nav flex-column">
                    <li (click)="gotoJobsLang('tieng-nhat-n1')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N1</a></li>
                    <li (click)="gotoJobsLang('tieng-nhat-n2')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N2</a></li>
                    <li (click)="gotoJobsLang('tieng-nhat-n3')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N3</a></li>
                    <li (click)="gotoJobsLang('tieng-nhat-n4')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N4</a></li>
                    <li (click)="gotoJobsLang('tieng-anh')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Anh</a></li>
                    <li (click)="gotoJobsLang('ngon-ngu-khac')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Không Ngoại ngữ</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mb-3">
                <h5>Việc làm theo địa điểm</h5>
                <ul class="nav flex-column">
                    <li (click)="gotoJobsAddress('ho-chi-minh')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Hồ Chí Minh</a></li>
                    <li (click)="gotoJobsAddress('binh-duong')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Bình Dương</a></li>
                    <li (click)="gotoJobsAddress('dong-nai')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Đồng Nai</a></li>
                    <li (click)="gotoJobsAddress('ha-noi')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Hà Nội</a></li>
                    <li (click)="gotoJobsAddress('long-an')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Long An</a></li>
                    <li (click)="gotoJobsAddress('binh-dinh')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Bình Định</a></li>
                </ul>
            </div>

        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>Copyright 2023 © Jobsngon</p>
        </div>
    </footer>
</div>
<!-- <div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3">
                <a class="d-inline-block mb-3">
                    <h1 style="font-size: 22px;" class="text-white">JOBSNGON<span class="text-primary">.</span>COM</h1>
                </a>
                <p class="mb-0">
                    Jobsngon Việt Nam Giải Pháp Tuyển Dụng Tối Ưu.
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-4">Liên hệ JOBSNGON</h5>
                <p> <span nz-icon nzType="global" nzTheme="outline" style="margin-right: 8px;"></span><span>51 Đường
                        số 2, Cityland Park Hills, Gò Vấp, Thành phố Hồ Chí Minh</span></p>
                <p><span nz-icon nzType="phone" nzTheme="outline" style="margin-right: 8px;"></span><span>028 7300
                        1013</span></p>
                <p> <span nz-icon nzType="mail" nzTheme="outline"
                        style="margin-right: 8px;"></span><span>jobsngon@gmail.com</span></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-4">Việc làm theo ngôn ngữ</h5>
                <ul class="nav flex-column">
                    <li (click)="gotoJobsLang('tieng-nhat-n1')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N1</a></li>
                    <li (click)="gotoJobsLang('tieng-nhat-n2')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N2</a></li>
                    <li (click)="gotoJobsLang('tieng-nhat-n3')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N3</a></li>
                    <li (click)="gotoJobsLang('tieng-nhat-n4')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Nhật N4</a></li>
                    <li (click)="gotoJobsLang('tieng-anh')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Tiếng Anh</a></li>
                    <li (click)="gotoJobsLang('ngon-ngu-khac')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Không Ngoại ngữ</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 ">
                <h5 class="text-white mb-4">Việc làm theo khu vực</h5>
                <ul class="nav flex-column">
                    <li (click)="gotoJobsAddress('ho-chi-minh')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Hồ Chí Minh</a></li>
                    <li (click)="gotoJobsAddress('binh-duong')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Bình Dương</a></li>
                    <li (click)="gotoJobsAddress('dong-nai')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Đồng Nai</a></li>
                    <li (click)="gotoJobsAddress('ha-noi')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Hà Nội</a></li>
                    <li (click)="gotoJobsAddress('long-an')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Long An</a></li>
                    <li (click)="gotoJobsAddress('binh-dinh')" class="nav-item mb-2"><a
                            class="nav-link p-0 text-body-secondary">Bình Định</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <p>Copyright 2023 © Jobsngon</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->