.wrapper-container {
    max-width: 1230px;
    padding-top: 64px;
    margin: auto;

    .fr-title {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 32px;
            margin-right: 8px;
            color: #009900;
        }

        h3 {
            font-weight: 700;
            margin: 0;

            @media (max-width: 768px) {
                font-size: 22px;
            }

        }
    }

    h5 {
        color: gray;
        text-align: center;
        font-size: 18px;
        margin-top: 8px;

        @media (max-width: 768px) {
            font-size: 16px;
        }

    }

    .fr-jobs {
        margin-top: 32px;

        .fr-main {
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 8px;
            margin: 8px;
            box-shadow: 0 4px 15px 0 rgba(168, 178, 186, .35);
            cursor: pointer;
            .fr-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 8px;

                .name {
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }

            .fr-info {
                display: flex;
                width: 100%;
                margin: 8px;

                .company-name {
                    color: gray;
                    text-transform: capitalize;
                    font-weight: 700;
                }

                .info-jobs {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;

                    .icon {
                        margin-right: 4px;
                        color: gray;
                    }
                }
            }
        }
        .fr-main:hover {
            border-color: #009900;
        }
    }

    .panigation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            border: 0.5px solid lightgray;
            margin: 4px;
            font-size: 14px;
            font-weight: 600;
            color: #4f535b;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:hover {
            background-color: #009900;
            color: white;
        }

        .disabled {
            opacity: 0.5;
            /* Làm mờ nút */
            pointer-events: none;
            /* Không cho hover hoặc sự kiện click */
        }
    }
}