<div class="wrapper-container">
    <div class="fr-title">
        <span class="icon" nz-icon nzType="crown" nzTheme="outline"></span>
        <h3>Cơ hội việc làm <span style="color: #009900;">nổi bật</span> cho bạn</h3>
    </div>
    <h5>Công việc hấp dẫn dành cho bạn</h5>
    <div class="fr-jobs">
        <nz-skeleton [nzActive]="true" *ngIf="!loading"></nz-skeleton>
        <div class="row" style="padding: 16px;" *ngIf="loading">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of showJobs" style="padding: 0;"
                (click)="gotoJobDetail(item)">
                <div class="fr-main">
                    <div class="fr-name">
                        <span class="name" nz-tooltip nzTooltipTitle="{{item.name}}">
                            {{ item.name.length > 40 ? (item.name.substring(0,
                                40) + '...') : item.name }}
                        </span>
                        <span class="view-job" (click)="openJob(item,$event)" nz-icon nzType="eye" nzTheme="outline"
                            style="color: #009900;"></span>
                    </div>
                    <div class="fr-info">
                        <div style="width: 20%;align-items: center; display: flex;">
                            <img [src]="item.company.logo" alt="" style="width: 64px;">
                        </div>
                        <div style="font-size: 13px;" nz-tooltip nzTooltipTitle="{{item.company.name}}">
                            <div class="company-name" style="cursor: pointer;" (click)="gotoDetailCompany(item.company, $event)">
                                {{ item.company.name.length > 40 ? (item.company.name.substring(0,
                                    40) + '...') : item.company.name }}
                            </div>
                            <div class="info-jobs">
                                <span class="icon" nz-icon nzType="wallet" nzTheme="outline"></span>
                                <span style="font-weight: 700;">{{item.salary}}</span>
                            </div>
                            <div class="info-jobs">
                                <span class="icon" nz-icon nzType="global" nzTheme="outline"></span>
                                <span style="font-weight: 700;">{{ item.address.length > 40 ? (item.address.substring(0,
                                    40) + '...') : item.address }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panigation">
                <button class="btn my-2 my-sm-0 login" (click)="previousPage()"
                    [ngClass]="{'disabled': currentPage <= 1}" [disabled]="currentPage <= 1">
                    <span nz-icon nzType="left" nzTheme="outline"></span>
                </button>
                <span style="margin: 8px;"><span style="color: #009900;">{{currentPage}}</span> / {{totalPages}}
                    trang</span>
                <button class="btn my-2 my-sm-0 login" (click)="nextPage()"
                    [ngClass]="{'disabled': currentPage >= totalPages}" [disabled]="currentPage >= totalPages">
                    <span nz-icon nzType="right" nzTheme="outline"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<app-view-job *ngIf="visible" [visible]="visible" [job]="job" (hide)="close($event)"></app-view-job>