.font {
    padding: 4px;
    margin: 4px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.active {
    border: 2px solid #cbf8df;
    //border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 8%);
}

.select {
    min-width: 180px;
    max-width: 180px;
    padding-left: 8px;
    @media only screen and (max-width: 600px) {
        min-width: 80px;
        max-width: 80px;
    }
}

.button {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
        width: 8px;
        height: 15px;
    }
}

.check {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 15px;
    color: azure;
    @media only screen and (max-width: 600px) {
        top: 12px;
        left: 8px;
        font-size: 8px;
    }
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
    .flag-icon {
        height: 40px;
        width: 50px;
        display: flex;
        align-items: center;
        margin: 4px;
        @media only screen and (max-width: 600px) {
            margin: 0px;
            height: 24px;
            width: 24px;
        }
    }
}