<nav class="navbar  navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.svg" alt="" style="height: 54px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/tim-viec-lam">Tìm Việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/mau-cv">Tạo CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cong-ty">Công Ty</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/tinh-luong">Tính lương</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Công cụ
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/tinh-luong">Tính lương GROSS->NET</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="/tinh-thue-TNCN">TÍnh thuế TNCN</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="/doc-thu">Đọc thư</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="/hat-giong-tam-hon">Hạt giống tâm hồn</a></li>
                </ul>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" *ngIf="!isLogin">
            <div>
                <button routerLink="/login" class="btn my-2 my-sm-0 login">Đăng Nhập</button>
                <button routerLink="/login/signup" class="btn my-2 my-sm-0 sign-up">Đăng Ký</button>
            </div>

            <div class="line"></div>
            <div class="ntd">
                <span class="icon" nz-icon nzType="home" nzTheme="outline"></span> <span class="title"
                    (click)="openNtd()">Nhà Tuyển Dụng</span>
            </div>
        </div>

        <div *ngIf="isLogin" class="form-inline my-2 my-lg-0">
            <div>
                <span nz-menu style="display: flex; align-items: center;justify-content: flex-end; height: 100%;">
                    <span style="font-size: 16px;" class="greeting"><i>{{title}}</i>,</span>
                    <span style="font-size: 16px;" nz-menu-item nz-dropdown [nzDropdownMenu]="menu" nzTrigger="hover"
                        nzPlacement='bottomLeft'>
                        <b style="padding-right: 12px;" class="greeting"> {{user.name}}</b>
                        <img style="height: 32px;width: 32px;border-radius: 100%;" [src]="user.photoURL" alt="">
                    </span>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li class="info-li" nz-menu-item routerLink="/tai-khoan" nz-menu-item>Thông tin</li>
                            <li class="info-li" nz-menu-item (click)="logout()" nz-menu-item>Đăng xuất</li>
                        </ul>

                    </nz-dropdown-menu>
                </span>
            </div>
        </div>
    </div>
</nav>