<nz-spin *ngIf="hide" class="loading" nzTip="Đang tải dữ liệu..."></nz-spin>
<div class='cv' *ngIf="!hide">
    <div nz-row style="height: 100%; padding: 8px; border: 1px solid lightgrey;">
        <div nz-col nzSpan="12" style="padding: 8px;">
            <div nz-row>
                <div nz-col [ngStyle]="{'background-color': resume.theme.color}" class="img">
                    <img [src]="resume.info.img? resume.info.img : 'assets/icon/user.svg'" alt="" style="object-fit: cover;width: 100%; height: 100%; margin: auto;border-radius: 100%">
                </div>
                <span [ngStyle]="{'color': resume.theme.color,
                    'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.name}" style="width: 100%; padding: 8px;"> <input style="text-align: center; text-transform: uppercase"
                        disabled="true" type="text" class='online-content' [(ngModel)]="resume.info.name"></span>
                <span [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" style="width: 100%;"> <input disabled="true" style="text-align: center;text-transform: capitalize;"
                        type="text" class='online-content' [(ngModel)]="resume.title"></span>
            </div>
            <div *ngIf='resume.goal.status'>
                <div nz-row style="padding-top: 16px;">
                    <div nz-col style="width: 100%;display: flex;flex-direction: row;align-items: center;">


                        <textarea disabled="true" [minRows]="1" autosize class='online' [ngStyle]="{'color': resume.theme.color,
                            'font-family':resume.theme.fontfamily, 'fontSize.pt': resume.theme.title}" style="width: 65%;font-weight: bold;" type="text" [(ngModel)]="resume.goal.title"></textarea>
                        <div style="height: 3px; width: 35%; background-color: #9b9999;"></div>


                    </div>
                    <div nz-row style="width: 100%;">
                        <div style="width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" class='decs-just'>
                            <textarea disabled="true" autosize style="width: 100%;" type="text" class='online-content' [(ngModel)]="resume.goal.value"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div *ngFor="let data of  resume.data_slc; let i = index">

                    <div *ngIf="data.status" nz-row style="padding-top: 16px;">
                        <div nz-col style="width: 100%;display: flex;flex-direction: row;align-items: center;">
                            <textarea disabled="true" [minRows]="1" autosize class='online' [ngStyle]="{'color': resume.theme.color,
                            'font-family':resume.theme.fontfamily, 'fontSize.pt': resume.theme.title}" style="width: 42%;font-weight: bold;" type="text" [(ngModel)]="data.title"></textarea>
                            <div style="height: 3px; width: 58%; background-color: #9b9999;"></div>

                        </div>
                        <div nz-row *ngFor="let item of data.data; let j = index" style="width: 100%;">

                            <!-- chứng chỉ, giải thưởng -->
                            <div *ngIf="data.titleStatus !=='Kỹ năng' && data.titleStatus !=='Yêu thích' && data.titleStatus !=='Ngôn ngữ'" style="width: 100%;">
                                <div style="width: 100%;">
                                    <input disabled="true" style="font-weight: 600;" class="online-content" autoSizeInput [(ngModel)]="item.name">
                                </div>
                                <div [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" style="width: 100%;">
                                    <textarea disabled="true" [minRows]="1" autosize class="online-content" [(ngModel)]="item.value"></textarea>
                                </div>
                            </div>
                            <!-- ngôn ngữ -->
                            <div *ngIf="data.titleStatus =='Ngôn ngữ' && data.titleStatus !=='Yêu thích'" nz-row style="width: 100%;display: flex;align-items: center;">
                                <div style="display: flex;align-items: center; width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" class='decs-just'><input disabled="true" autoSizeInput type="text" class='online-content' [(ngModel)]="item.name">:
                                    <textarea disabled="true" class="decs-just" [minRows]="1" autosize type="text" class='online-content' [(ngModel)]="item.value"></textarea>

                                </div>
                            </div>

                            <!-- Kỹ năng -->
                            <div *ngIf="data.titleStatus =='Kỹ năng' && data.titleStatus !=='Yêu thích'" nz-row style="width: 100%;display: flex;align-items: center;">
                                <div style="display: flex;align-items: center; width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" class='decs-just'><input disabled="true" autoSizeInput type="text" class='online-content' [(ngModel)]="item.name">:
                                    <textarea disabled="true" class="decs-just" [minRows]="1" autosize type="text" class='online-content' [(ngModel)]="item.value"></textarea>

                                </div>
                            </div>

                            <!-- yêu thích -->
                            <div *ngIf="data.titleStatus =='Yêu thích'" nz-row style="width: 100%;">
                                <div style="width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" class='decs-just'>
                                    <textarea disabled="true" [minRows]="1" autosize style="width: 100%;" type="text" class='online-content' [(ngModel)]="item.value"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div *ngFor="let data of  resume.data_adr; let i = index">

                    <div *ngIf="data.status" nz-row style="padding-top: 16px;">
                        <div nz-col style="width: 100%;display: flex;flex-direction: row;align-items: center;">


                            <textarea disabled="true" [minRows]="1" autosize class='online' [ngStyle]="{'color': resume.theme.color,
        'font-family':resume.theme.fontfamily, 'fontSize.pt': resume.theme.title}" style="width: 55%;font-weight: bold;" type="text" [(ngModel)]="data.title"></textarea>
                            <div style="height: 3px; width: 45%; background-color: #9b9999;"></div>


                        </div>
                        <div nz-row style="width: 100%;">
                            <div style="width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" class='decs-just'>
                                <textarea disabled="true" [minRows]="1" autosize style="width: 100%;" type="text" class='online-content' [(ngModel)]="data.value"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="12" style="padding: 8px;">
            <!-- Thông tin -->
            <div>
                <div nz-row style="padding-top: 16px;">
                    <div nz-col style="width: 100%;display: flex;flex-direction: row;align-items: center;">
                        <textarea disabled="true" [minRows]="1" autosize class='online' [ngStyle]="{'color': resume.theme.color,
                            'font-family':resume.theme.fontfamily, 'fontSize.pt': resume.theme.title}" style="width: 65%;font-weight: bold;" type="text" [(ngModel)]="resume.info.title"></textarea>
                        <div style="height: 3px; width: 35%; background-color: #9b9999;"></div>
                    </div>
                    <div nz-row>
                        <div style="width: 100%; display: flex; align-items: center;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="calendar" nzTheme="outline"></i>
                            <input disabled="true" type="text" class='online-content' [(ngModel)]="resume.info.dateBirth">
                        </div>
                        <div style="width: 100%; display: flex; align-items: center;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="user" nzTheme="outline"></i>
                            <input disabled="true" type="text" class='online-content' [(ngModel)]="resume.info.sex">
                        </div>
                        <div style="width: 100%; display: flex; align-items: center;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="phone" nzTheme="outline"></i>
                            <input disabled="true" type="text" class='online-content' [(ngModel)]="resume.info.phone">
                        </div>
                        <div style="width: 100%; display: flex; align-items: center;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="mail" nzTheme="outline"></i>
                            <input disabled="true" type="text" class='online-content' [(ngModel)]="resume.info.email">
                        </div>
                        <div style="width: 100%; display: flex; align-items: center;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon>
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 368.16 368.16" style="enable-background:new 0 0 368.16 368.16;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M184.08,0c-74.992,0-136,61.008-136,136c0,24.688,11.072,51.24,11.536,52.36c3.576,8.488,10.632,21.672,15.72,29.4
                    l93.248,141.288c3.816,5.792,9.464,9.112,15.496,9.112s11.68-3.32,15.496-9.104l93.256-141.296
                    c5.096-7.728,12.144-20.912,15.72-29.4c0.464-1.112,11.528-27.664,11.528-52.36C320.08,61.008,259.072,0,184.08,0z
                     M293.8,182.152c-3.192,7.608-9.76,19.872-14.328,26.8l-93.256,141.296c-1.84,2.792-2.424,2.792-4.264,0L88.696,208.952
                    c-4.568-6.928-11.136-19.2-14.328-26.808C74.232,181.816,64.08,157.376,64.08,136c0-66.168,53.832-120,120-120
                    c66.168,0,120,53.832,120,120C304.08,157.408,293.904,181.912,293.8,182.152z" />
                                                <path d="M184.08,64.008c-39.704,0-72,32.304-72,72c0,39.696,32.296,72,72,72c39.704,0,72-32.304,72-72
                    C256.08,96.312,223.784,64.008,184.08,64.008z M184.08,192.008c-30.872,0-56-25.12-56-56s25.128-56,56-56s56,25.12,56,56
                    S214.952,192.008,184.08,192.008z" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </i>
                            <textarea disabled="true" [minRows]="1" autosize style="width: 100%;" type="text" class='online-content' [(ngModel)]="resume.info.address"></textarea>

                        </div>
                    </div>
                </div>
            </div>


            <!-- kinh nghiệm, học vấn -->
            <div>
                <div *ngFor="let data of  resume.data_eec; let i = index">
                    <div *ngIf="data.status" nz-row style="padding-top: 16px;">
                        <div nz-col style="width: 100%;display: flex;flex-direction: row;align-items: center;">
                            <textarea disabled="true" [minRows]="1" autosize class='online' [ngStyle]="{'color': resume.theme.color,
                        'font-family':resume.theme.fontfamily, 'fontSize.pt': resume.theme.title}" style="width: 50%;font-weight: bold;" type="text" [(ngModel)]="data.title"></textarea>
                            <div style="height: 3px; width: 50%; background-color: #9b9999;"></div>

                        </div>
                        <div *ngFor="let item of data.data; let j = index" nz-row>
                            <div style="font-size: 13px; color: #333;">(
                                <input disabled="true" style="font-weight: 600;" autosize class="online-content" autoSizeInput [(ngModel)]="item.start"> -
                                <input disabled="true" style="font-weight: 600;" autoSizeInput autosize class="online-content" [(ngModel)]="item.end">)
                            </div>

                            <div style="width: 100%;" [ngStyle]="{'color': resume.theme.color,
                        'font-family':resume.theme.fontfamily, 'fontSize.pt': resume.theme.font}">
                                <input disabled="true" autoSizeInput class="online-content" [(ngModel)]="item.name" style="text-align: left; font-weight: bold;" />
                            </div>

                            <div style="width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                                <input disabled="true" autoSizeInput class="online-content" [(ngModel)]="item.position" style="text-align: left;" />
                            </div>
                            <div style="width: 100%;" [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}" class='decs-just'>
                                <textarea disabled="true" [minRows]="1" autosize style="width: 100%;" type="text" class='online-content' [(ngModel)]="item.describe"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>