<div class="wrapper-container">
    <nz-spin *ngIf="hide" class="loading" nzTip="Đang tải dữ liệu..."></nz-spin>
    <div nz-row class='body' *ngIf="!hide">
        <div nz-row style="width: 100%;">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: end; padding: 4pt;">

                <button class="button" (click)="exportPDF()" nz-button nzType="primary">
                    Tải CV
                </button>

                <button class="button" (click)="saveResume()" [disabled]="disable" nz-button nzType="primary">
                    <i nz-icon nzType="save"></i>
                    Lưu CV
                </button>
                <ng-template #contentTemplate>
                    <div style="cursor: pointer;">
                        <p style=" font-weight: 600;" (click)="copy()">Copy
                            link cv
                        </p>
                        <p style="font-weight: 600;" (click)="viewOnline()">Xem cv online</p>
                        <p nz-popconfirm nzPopconfirmTitle="Đặt lại dữ liệu CV mẫu?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="setDefault()" style="font-weight: 600;">Đặt lại dữ liệu mẫu</p>
                    </div>
                </ng-template>
                <button style="height:44px; border-radius: 5px;" nz-popover [nzPopoverContent]="contentTemplate"
                    nzPopoverTrigger="click" nz-button nzType="primary">
                    <i nz-icon nzType="menu"></i>
                </button>
            </div>
        </div>
        <div class='cv' id='tmp1'>
            <div nz-row style="padding: 8pt;">
                <div nz-row class="info" style="height: 400pt;">
                    <div nz-col nzSpan="18" style="height: 100%;">
                        <div nz-row style="border-bottom: 2pt dashed #ccc; height: 10%;">
                            <div style="width: 20%; font-weight: bold;padding: 4pt">ふりがな</div>
                            <span style="width: 60%;text-align: center;">

                                <textarea style="text-align: center;" class='input-content'
                                    [(ngModel)]="resume.info.spelling" [minRows]="1" autosize></textarea>


                            </span>
                            <span style="width: 20%;"></span>
                        </div>
                        <div nz-row style="border-bottom: 2pt solid #333; height: 40%;">
                            <div style="width: 100%;font-weight: bold;padding: 4pt">氏　名</div>
                            <span
                                style="width: 100%;text-align: center;padding-bottom: 16pt; text-transform: uppercase;font-size: 18pt;">

                                <textarea style="text-align: center;" class='input-content'
                                    [(ngModel)]="resume.info.name" [minRows]="1" autosize></textarea>

                            </span>
                        </div>
                        <div nz-row style="height: 20%;" style="border-bottom: 2pt solid #333">
                            <div nz-row style="width: 80%;">
                                <div style="width: 100%;font-weight: bold;padding: 4pt">生年月日</div>
                                <span class='font' style="width: 100%;text-align: center;">
                                    <textarea style="text-align: center;" class='input-content'
                                        [(ngModel)]="resume.info.dateBirth" [minRows]="1" autosize></textarea>

                                </span>
                            </div>
                            <div nz-row style="width: 20%; border-left: 1pt solid #333;">
                                <div style="width: 100%;font-weight: bold;padding: 4pt">性別</div>
                                <span style="width: 100%;text-align: center;">
                                    <textarea style="text-align: center;" class='input-content'
                                        [(ngModel)]="resume.info.sex" [minRows]="1" autosize></textarea>


                                </span>
                            </div>
                        </div>
                        <div nz-row style="height: 10%;" style="border-bottom: 0.5pt dashed #ccc">
                            <div style="width: 20%;font-weight: bold;padding: 4pt">ふりがな</div>
                            <span style="width: 60%;text-align: center;">
                                <textarea style="text-align: center;" class='input-content'
                                    [(ngModel)]="resume.info.spaddress" [minRows]="1" autosize></textarea>
                            </span>
                            <span style="width: 20%;"></span>
                        </div>
                        <div nz-row style="height: 20%;">
                            <div style="width: 100%;font-weight: bold;padding: 4pt">現住所〒</div>
                            <span class='font' style="width: 100%;text-align: center;padding-bottom: 16pt; ">
                                <textarea style="text-align: center;" class='input-content'
                                    [(ngModel)]="resume.info.address" [minRows]="1" autosize></textarea>
                            </span>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" style="border-left: 1pt solid #333; height: 100%;">
                        <div nz-row style="height: 50%;width: 100%; border-bottom: 2pt solid #333;">
                            <img (click)="getFile()" src="{{resume.info.img}}" alt="" style="object-fit: cover;
                        height: 80%;
                        margin: auto;
                        width: 100%;
                        object-fit: contain;
                        ">
                        </div>
                        <div nz-row style="height: 25%; border-bottom: 2pt solid #333">
                            <div style="width: 100%;font-weight: bold;padding: 4pt">電話</div>
                            <span class='font' style="width: 100%;text-align: center;">
                                <textarea style="text-align: center;" class='input-content'
                                    [(ngModel)]="resume.info.phone" [minRows]="1" autosize></textarea>
                            </span>
                        </div>
                        <div nz-row style="height: 25%;">
                            <div style="width: 100%;font-weight: bold;padding: 4pt">メールアドレス</div>
                            <span class='font' style="width: 100%;text-align: center;">
                                <textarea style="text-align: center;" class='input-content'
                                    [(ngModel)]="resume.info.email" [minRows]="1" autosize></textarea>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- education -->
            <div cdkDropList (cdkDropListDropped)="drop($event)"
                [ngStyle]="{'border': showDragE ? '3pt dotted lightgrey' : 'none'}">
                <div cdkDrag *ngFor="let data of resume.data_eec; let i = index"
                    [ngStyle]="{'border': show==i ? '1pt solid lightgrey' : 'none'}">
                    <div *ngIf="data.status" nz-row style="padding: 8pt;" (mouseenter)="this.show=i"
                        (mouseleave)="this.show=null">
                        <div *ngIf="show==i" class="edit" style="position: relative;">
                            <div style="display: flex;align-items: center;">
                                <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                    <i nz-icon nzType="menu" nzTheme="outline"></i>
                                </button>
                                <button class="button-edit" (click)="hideDataE(data)"
                                    style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon nzType="minus"
                                        nzTheme="outline"></i> Ẩn
                                    mục</button>

                            </div>
                            <div>
                                <button class="button-edit" (click)="addDataE(i)"
                                    style="background-color: #00b14f; opacity: 0.8;" nz-button><i nz-icon nzType="plus"
                                        nzTheme="outline"></i> Thêm</button>
                            </div>

                            <div (mouseenter)="this.showDragE=true" (mouseleave)="this.showDragE=false">
                                <button nzType="default" class="drag" nz-button>
                                    <i nz-icon nzType="drag" nzTheme="outline"></i>
                                </button>
                            </div>
                        </div>
                        <div nz-row class="edu" cdkDropList (cdkDropListDropped)="dropEsub($event,i)">
                            <div nz-row
                                style="width: 100%; text-align: center; border-bottom: 2pt solid #ccc; height: 32pt;">
                                <div style="border-right: 2pt solid #ccc;display: flex;
                            justify-content: center;
                            align-items: center;" nz-col nzSpan="4">
                                    <div class="bold">開始日</div>
                                </div>
                                <div nz-col nzSpan="4" style="border-right: 2pt solid #ccc;display: flex;
                            justify-content: center;
                            align-items: center;">
                                    <div class="bold">終了日</div>
                                </div>
                                <div nz-col nzSpan="16" style="display: flex;
                            justify-content: center;
                            align-items: center;">
                                    <input class='input bold' type="text" [(ngModel)]="data.title">
                                </div>
                            </div>
                            <div style="width: 100%; text-align: center;" nz-row cdkDrag
                                *ngFor="let item of data.data; let j = index" (mouseenter)="this.showDelete = j"
                                (mouseleave)="this.showDelete =''" nz-row>
                                <div style="position: relative; width: 100%; right: 0;"
                                    *ngIf="showDelete ==j && show==i && data.data.length >1" class="button-delete">
                                    <button nzType="default" class="drag" nz-button>
                                        <i nz-icon nzType="drag" nzTheme="outline"></i>
                                    </button>
                                    <button class="button-edit" (click)="deleteDataE(i,j)"
                                        style="background: #f22f2f; opacity: 0.8;" nz-button>
                                        <i nz-icon nzType="minus" nzTheme="outline"></i> Xóa
                                    </button>
                                </div>
                                <div nz-col nzSpan="4" style="border-right: 2pt solid #ccc">
                                    <span>
                                        <textarea style="text-align: center;" class='input-content'
                                            [(ngModel)]="item.start" [minRows]="1" autosize></textarea>
                                    </span>
                                </div>
                                <div nz-col nzSpan="4" style="border-right: 2pt solid #ccc">
                                    <span>
                                        <textarea style="text-align: center;" class='input-content'
                                            [(ngModel)]="item.end" [minRows]="1" autosize></textarea>
                                    </span>
                                </div>
                                <div nz-col nzSpan="16"
                                    style="text-align: left; display: flex;flex-direction: column;padding: 4pt;">
                                    <span>
                                        <textarea
                                            style="text-align: left; text-transform: uppercase; font-weight: bold;"
                                            class='input-content' [(ngModel)]="item.name" [minRows]="1"
                                            autosize></textarea>

                                    </span>
                                    <span>

                                        <textarea style="text-align: left;" class='input-content'
                                            [(ngModel)]="item.position" [minRows]="1" autosize></textarea>
                                    </span>
                                    <span class="decs-just">

                                        <textarea style="text-align: left;" class='input-content'
                                            [(ngModel)]="item.describe" [minRows]="1" autosize></textarea>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>





            <div cdkDropList (cdkDropListDropped)="dropS($event)"
                [ngStyle]="{'border': showDragS ? '3pt dotted lightgrey' : 'none'}">
                <div cdkDrag *ngFor="let data of resume.data_slc; let i = index">

                    <div *ngIf="data.status" style="padding: 8pt;"
                        [ngStyle]="{'border': showS==i ? '1pt solid lightgrey' : 'none'}" (mouseenter)="this.showS=i"
                        (mouseleave)="this.showS=null">

                        <div *ngIf="showS==i" class="edit" style="position:  relative; width: fit-content;">
                            <div style="display: flex;align-items: center;">
                                <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                    <i nz-icon nzType="menu" nzTheme="outline"></i>
                                </button>
                                <button class="button-edit" (click)="hideDataS(data)"
                                    style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon nzType="minus"
                                        nzTheme="outline"></i> Ẩn
                                    mục</button>

                            </div>
                            <div *ngIf="data.titleStatus !=='Yêu thích'">
                                <button class="button-edit" (click)="addDataS(i)"
                                    style="background-color: #00b14f; opacity: 0.8;" nz-button><i nz-icon nzType="plus"
                                        nzTheme="outline"></i> Thêm</button>

                            </div>
                            <div (mouseenter)="this.showDragS=true" (mouseleave)="this.showDragS=false">
                                <button nzType="default" class="drag" nz-button>
                                    <i nz-icon nzType="drag" nzTheme="outline"></i>
                                </button>
                            </div>
                        </div>

                        <div cdkDropList (cdkDropListDropped)="dropSsub($event, i)" nz-row>
                            <div nz-row class="edu">
                                <div *ngIf="data.titleStatus !=='Kỹ năng' && data.titleStatus !=='Yêu thích' && data.titleStatus !=='Ngôn ngữ'"
                                    nz-row style="width: 100%; text-align: center; border-bottom: 2pt solid #ccc;">
                                    <div style="border-right: 2pt solid #ccc;padding: 4pt; text-align: center;" nz-col
                                        nzSpan="4">
                                        <div class="bold">取得日</div>
                                    </div>
                                    <div nz-col nzSpan="20" style="border-right: 2pt solid #ccc">
                                        <input class='input bold' type="text" [(ngModel)]="data.title">
                                    </div>
                                </div>
                                <div *ngIf="data.titleStatus =='Yêu thích' || data.titleStatus =='Kỹ năng' || data.titleStatus =='Ngôn ngữ'"
                                    nz-row style="width: 100%; padding: 4pt;">
                                    <div nz-col nzSpan="24">
                                        <input class='input bold-start' type="text" [(ngModel)]="data.title">

                                    </div>
                                </div>
                                <div cdkDrag style="width: 100%; padding-bottom: 8pt;" nz-row
                                    *ngFor="let item of data.data; let j = index" (mouseenter)="this.showDeleteS = j"
                                    (mouseleave)="this.showDeleteS =''" style="width: 100%; text-align: left;" nz-row>
                                    <div *ngIf="showDeleteS ==j && showS==i && data.data.length >1"
                                        class="button-delete" style="position: relative; width: 100%; right: 0;">
                                        <button nzType="default" class="drag" nz-button>
                                            <i nz-icon nzType="drag" nzTheme="outline"></i>
                                        </button>
                                        <button class="button-edit" (click)="deleteDataS(i,j)"
                                            style="background: #f22f2f; opacity: 0.8;" nz-button>
                                            <i nz-icon nzType="minus" nzTheme="outline"></i> Xóa
                                        </button>
                                    </div>


                                    <!-- chứng chỉ, ngôn ngữ -->
                                    <div nz-row
                                        *ngIf="data.titleStatus !=='Kỹ năng' && data.titleStatus !=='Yêu thích' && data.titleStatus !=='Ngôn ngữ'"
                                        style="width: 100%;">
                                        <div nz-col nzSpan="4"
                                            style="border-right: 2pt solid #ccc;text-align: center; padding: 4pt;">
                                            <span>
                                                <textarea [minRows]="1" autosize
                                                    style="width: 100%; text-align: center;" type="text"
                                                    class='input-content' [(ngModel)]="item.name"></textarea>
                                            </span>
                                        </div>
                                        <div nz-col nzSpan="20" style="border-right: 2pt solid #ccc; padding: 4pt;">
                                            <span>
                                                <textarea [minRows]="1" autosize style="width: 100%;" type="text"
                                                    class='input-content' [(ngModel)]="item.value"></textarea>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- kỹ năng -->
                                    <div *ngIf="data.titleStatus =='Kỹ năng' && data.titleStatus !=='Yêu thích'"
                                        style="width: 100%; text-align: left; padding: 8pt;" nz-row>
                                        <div nz-col nzSpan="24">
                                            <span class='decs-just'> <textarea [minRows]="1" autosize
                                                    style="width: 100%;" type="text" class='input-content'
                                                    [(ngModel)]="item.describe"></textarea></span>
                                        </div>
                                    </div>

                                    <!--ngôn ngữ -->
                                    <div *ngIf="data.titleStatus =='Ngôn ngữ' && data.titleStatus !=='Yêu thích'"
                                        style="width: 100%; text-align: left; padding: 8pt;" nz-row>
                                        <div nz-col nzSpan="24">
                                            <span class='decs-just'> <textarea [minRows]="1" autosize
                                                    style="width: 100%;" type="text" class='input-content'
                                                    [(ngModel)]="item.value"></textarea></span>
                                        </div>
                                    </div>

                                    <!-- yêu thích -->
                                    <div *ngIf="data.titleStatus =='Yêu thích'"
                                        style="width: 100%; text-align: left; padding: 8pt;" nz-row>
                                        <div nz-col nzSpan="24">
                                            <span class='decs-just'>

                                                <textarea [minRows]="1" autosize style="width: 100%;" type="text"
                                                    class='input-content' [(ngModel)]="item.value"></textarea>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- goal -->
            <div *ngIf='resume.goal.status' (mouseenter)="this.showGoal=true" (mouseleave)="this.showGoal=false"
                [ngStyle]="{'border': showGoal ? '1pt solid lightgrey' : 'none'}">
                <div *ngIf="showGoal" class="edit" style="position: relative; width: fit-content;">
                    <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                        <i nz-icon nzType="menu" nzTheme="outline"></i>
                    </button>
                    <button class="button-edit" (click)="hideGoal()" style="background-color: #f22f2f; opacity: 0.8;"
                        nz-button><i nz-icon nzType="minus" nzTheme="outline"></i> Ẩn
                        mục</button>

                </div>
                <div *ngIf='resume.goal.status' nz-row style="padding: 8pt;">
                    <div nz-row class="edu">
                        <div nz-row style="width: 100%; padding: 4pt;">
                            <div nz-col nzSpan="24">
                                <textarea style="text-align: left; text-transform: uppercase; font-weight: bold;"
                                    class='input' [(ngModel)]="resume.goal.title" [minRows]="1" autosize></textarea>
                            </div>
                        </div>
                        <div style="width: 100%; text-align: left; padding: 8pt;" nz-row>
                            <div nz-col nzSpan="24">
                                <span class='decs-just'>
                                    <textarea [minRows]="1" autosize style="width: 100%;" type="text"
                                        class='input-content' [(ngModel)]="resume.goal.value"></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- additonal -->

            <div *ngFor="let data of resume.data_adr; let i = index" (mouseenter)="this.showL=i"
                (mouseleave)="this.showL=null">
                <div *ngIf="showL ==i" class="edit" style="position: relative; width: fit-content;">
                    <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                        <i nz-icon nzType="menu" nzTheme="outline"></i>
                    </button>
                    <button class="button-edit" (click)="hideDataS(data)"
                        style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon nzType="minus"
                            nzTheme="outline"></i> Ẩn
                        mục</button>

                </div>
                <div *ngIf="data.status" nz-row style="padding: 8pt;">
                    <div *ngIf="data.titleStatus !=='Người tham chiếu'" nz-row class="edu">
                        <div nz-row style="width: 100%; padding: 4pt;">
                            <div nz-col nzSpan="24">
                                <input class='input bold-start' type="text" [(ngModel)]="data.title">
                            </div>
                        </div>
                        <div style="width: 100%; text-align: left; padding: 8pt;" nz-row>
                            <div nz-col nzSpan="24">
                                <span class='decs-just'>

                                    <textarea [minRows]="1" autosize style="width: 100%;" type="text"
                                        class='input-content' [(ngModel)]="data.value"></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input style="display: none;" id="file-upload" type="file" accept=".png, .jpg" (change)="upLogo($event)" />
    <app-menu [dataIn]="resume" (closeMenu)="closeMenu($event)" [isVisible]="isVisible"></app-menu>
</div>