.row {
    padding: 16px;

    @media (max-width: 768px) {
        padding: 0;
    }

    background-color: #fff;
    // width: 70vw;

    .col {
        // display: flex;
        // justify-content: center;
        padding: 16px;

        nz-card {
            border-radius: 5px;
            box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 8%);
            min-height: 200px;
        }

        .img {
            height: 25px;
            width: 30px;
            display: block;
            align-items: center;
            margin: 4px;

            img {
                height: 100%;
                width: 100%;
                display: block;
            }
        }
    }

    .name {
        @media (max-width: 768px) {
            display: block;
            padding: 12px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        /* justify-content: center; */
        border: 1px solid lightgray;
        padding: 8px;
        border-radius: 5px;
        margin: 8px;
    }
}

@media (max-width: 768px) {
    nz-tabset {
        margin-top: 16px;
    }
}