<div class="banner-image">
    <div class="wrapper-container">
        <div class="row">
            <div class="col">
                <div class="search-jobs">
                    <h1 class="title">
                        Tìm kiếm <span style="color: #009900;">việc làm</span> <br> mơ ước
                    </h1>
                    <div class="sub-title">
                        Hàng ngàn vị trí hấp dẫn dành cho bạn
                    </div>
                    <div class="fr-search">
                        <div class="input-search">
                            <span nz-icon nzType="search" nzTheme="outline"></span>
                            <input type="text" placeholder="Tìm theo việc làm, công ty, kỹ năng…">
                        </div>
                        <button class="btn-search">Tìm kiếm</button>
                    </div>
                    <div class="industry">
                        <span>Kế toán</span>
                        <span>Kế toán</span>
                        <span>Kế toán</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>