<div nz-row class="row">
    <div nz-row style="width: 100%;">
        <h2 style="color: #00b14f; font-weight: 600;">Danh sách mẫu CV xin việc tiếng Anh, Việt, Nhật chuẩn</h2>
    </div>
    <div nz-row style="width: 100%;">
        <div (click)="gotoTemplate(item.path)" class='col' nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="8"
            *ngFor="let item of data;">
            <nz-card nzHoverable [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="Miễn phí" [nzDescription]="item.name"></nz-card-meta>
                <div nz-row *ngIf="item.type ==1">
                    <div nz-col class='img'>
                        <img src="assets/icon/jp.svg" alt="">
                    </div>
                </div>
                <div nz-row *ngIf="item.type !=1">
                    <div nz-col class='img'>
                        <img src="assets/icon/vi.svg" alt="">
                    </div>
                    <div nz-col class='img'>
                        <img src="assets/icon/en.svg" alt="">
                    </div>
                    <div nz-col class='img'>
                        <img src="assets/icon/jp.svg" alt="">
                    </div>
                </div>
            </nz-card>
            <ng-template #coverTemplate>
                <img style="height: 100% ;width: 100%;" [src]="item.img" loading="lazy" />
            </ng-template>
        </div>
    </div>
</div>