<div class="wrapper-container">
    <div class="fr-title">
        <span class="icon" nz-icon nzType="hdd" nzTheme="outline"></span>
        <h3>Nhà tuyển dụng <span style="color: #009900;">hàng đầu</span> cho bạn</h3>
    </div>
    <h5>Vị trí hấp dẫn từ các công ty lớn đang chờ bạn</h5>
    <div class="fr-jobs">
        <div class="row" style="padding: 16px;">
            <div class="col-12">
                <owl-carousel-o [options]="carouselOptions">
                    <ng-container class="item" *ngFor="let item of company">
                        <ng-template carouselSlide>
                            <div class="fr-main">
                                <div style="height: 132px; text-align: center;">
                                    <img [src]="item.logo" alt="" style="height: 100%;
                                    object-fit: contain;">
                                </div>
                                <div style="margin-top: 32px;">
                                    <div class="company-name">
                                        {{item.name}}
                                    </div>
                                </div>
                                <div style="margin-top: 32px;">
                                    <!-- <div class="position">
                                        <span nz-icon nzType="form" nzTheme="outline" style="margin-right: 8px;"></span>
                                        Xem thêm
                                    </div> -->
                                    <div class="position">
                                        <span nz-icon nzType="form" nzTheme="outline" style="margin-right: 8px;"></span>
                                        <span>{{item.jobs?.length}} vị trí đang tuyển</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>

</div>