.wrapper-container {
    max-width: 1230px;
    padding-top: 32px !important;
    height: auto;
    margin: auto;
    padding-bottom: 32px;

    .fr-search {
        min-height: 112px;
        padding: 6px 0 4px 0;
        background: #fff;
        border-bottom: solid 1px #e8e8e8;
        display: flex;
        padding: 16px;
        align-items: center;

        .btn-search {
            width: unset;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 0;
            outline: 0;
            border: none;
            box-shadow: 0 4px 28px 0 rgba(187, 187, 187, .11);
            background-color: #009900;
            color: #fff;
            width: 100%;
            font-size: 16px;
            font-weight: bold;

            @media (max-width: 768px) {
                width: 100%;
                padding: 8px;
                margin-top: 8px;
            }
        }

        nz-select {
            width: 98%;
        }

    }

    .fr-list {
        // background: #fff;
        // border-bottom: solid 1px #e8e8e8;

        .fr-jobs {
            .fr-main {
                background-color: rgb(242, 252, 239);
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 8px;
                margin: 8px;
                //box-shadow: 0 4px 15px 0 rgba(168, 178, 186, .35);
                cursor: pointer;

                .fr-info {
                    display: flex;
                    width: 100%;
                    margin: 8px;

                    .job-name {
                        font-weight: 700;
                        text-transform: capitalize;
                        color: #000;
                        font-size: 15px;
                    }

                    .company-name {
                        color: gray;
                        text-transform: capitalize;
                        font-weight: 700;
                    }

                    .info-jobs {
                        display: flex;
                        align-items: center;
                        margin-top: 4px;

                        .icon {
                            margin-right: 4px;
                            color: gray;
                        }
                    }
                }
            }

            .fr-main:hover {
                border-color: #009900;
            }
        }
        .panigation {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
    
            button {
                border: 0.5px solid lightgray;
                margin: 4px;
                font-size: 14px;
                font-weight: 600;
                color: #4f535b;
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            button:hover {
                background-color: #009900;
                color: white;
            }
    
            .disabled {
                opacity: 0.5;
                /* Làm mờ nút */
                pointer-events: none;
                /* Không cho hover hoặc sự kiện click */
            }
        }
    }
}