<div style="width: 100%; background-color: #f6f8fc;;">
    <div class="wraper-search">
        <div class="fr-two-search">
            <div class="fr-search">
                <div style="width: 35%; padding-right: 4px;">
                    <nz-input-group style="color: #000;
                    border-radius: 4px;
                    padding: 12px;" [nzPrefix]="prefixTemplateUser">
                        <input (keyup)="checkKey($event)" [(ngModel)]="filter.name" type="text" nz-input
                            placeholder="Tìm việc làm mà bạn muốn ứng tuyển…" />
                    </nz-input-group>
                    <ng-template #prefixTemplateUser><span nz-icon nzType="search"
                            nzTheme="outline"></span></ng-template>
                </div>
                <div style="width: 25%;">
                    <nz-select nzShowSearch nzPlaceHolder="Tất cả nghề nghiệp" [(ngModel)]="filter.code_career">
                        <nz-option nzLabel="Tất cả nghề nghiệp" nzValue="all"></nz-option>
                        <nz-option *ngFor="let item of career" [nzLabel]="item.name" [nzValue]="item.link"></nz-option>
                    </nz-select>
                </div>
                <div style="width: 25%;">
                    <nz-select nzShowSearch nzPlaceHolder="Tất cả địa điểm" [(ngModel)]="filter.code_address">
                        <nz-option nzLabel="Tất cả địa điểm" nzValue="all"></nz-option>
                        <nz-option *ngFor="let item of address" [nzLabel]="item.name" [nzValue]="item.link"></nz-option>
                    </nz-select>
                </div>
                <div style="width: 15%; text-align: end;">
                    <button (click)="search()" class="btn-search">Tìm kiếm</button>
                </div>
            </div>
            <div class="fr-sub-search">
                <div style="width: 25%;">
                    <nz-select nzShowSearch nzPlaceHolder="Tất cả ngôn ngữ" [(ngModel)]="filter.code_lang">
                        <nz-option nzLabel="Tất cả ngôn ngữ" nzValue="all"></nz-option>
                        <nz-option *ngFor="let item of lang" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </div>
                <div style="width: 25%;">
                    <nz-select nzShowSearch nzPlaceHolder="Tất cả cấp bậc" [(ngModel)]="filter.code_level">
                        <nz-option nzLabel="Tất cả cấp bậc" nzValue="all"></nz-option>
                        <nz-option *ngFor="let item of level" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </div>
                <div style="width: 25%;">
                    <nz-select nzShowSearch nzPlaceHolder="Tất cả giới tinh" [(ngModel)]="filter.code_sex">
                        <nz-option nzLabel="Tất cả giới tính" nzValue="all"></nz-option>
                        <nz-option *ngFor="let item of sex" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </div>
                <div style="width: 25%;">
                    <nz-select nzShowSearch nzPlaceHolder="Tất cả kinh nghiệm" [(ngModel)]="filter.code_exp">
                        <nz-option nzLabel="Tất cả kinh nghiệm" nzValue="all"></nz-option>
                        <nz-option *ngFor="let item of exp" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-container">
        <h3 style="margin: 16px 0px 0px 0px;">Kết quả tìm kiếm</h3>
        <nz-skeleton [nzActive]="true" *ngIf="!loading"></nz-skeleton>
        <div class="fr-list" *ngIf="loading">
            <div class="fr-jobs">
                <div class="row" style="padding: 8px;">
                    <div class="col-9" *ngFor="let item of showJobs" style="padding: 0;" (click)="gotoJobDetail(item)">
                        <div class="fr-main">
                            <div class="fr-info">
                                <div style="width: 15%;">
                                    <img [src]="item.company.logo" alt="" style="width: 75%;">
                                </div>
                                <div
                                    style="width: 85%; display: flex; flex-direction: column; justify-content: center;">
                                    <div class="job-name">
                                        <span>
                                            {{item.name}}
                                        </span>
                                        <div class="salary">
                                            <span class="icon" nz-icon nzType="dollar" nzTheme="outline"></span>
                                            <span style="font-weight: 700;">{{item.salary}}</span>
                                        </div>
                                    </div>
                                    <div class="company-name">
                                        {{item.company.name}}
                                    </div>
                                    <div class="job-name">
                                        <div class="salary">
                                            <span class="icon" nz-icon nzType="global" nzTheme="outline"></span>
                                            <span class=address>{{ item.address.length > 75 ? (item.address.substring(0,
                                                75) + '...') : item.address }}</span>
                                        </div>
                                        <span (click)="openJob(item,$event)">
                                            <button class="btn my-2 my-sm-0 view-job">Xem nhanh</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panigation">
                <button class="btn my-2 my-sm-0 login" (click)="previousPage()"
                    [ngClass]="{'disabled': currentPage <= 1}" [disabled]="currentPage <= 1">
                    <span nz-icon nzType="left" nzTheme="outline"></span>
                </button>
                <span style="margin: 8px;"><span style="color: #009900;">{{currentPage}}</span> / {{totalPages}}
                    trang</span>
                <button class="btn my-2 my-sm-0 login" (click)="nextPage()"
                    [ngClass]="{'disabled': currentPage >= totalPages}" [disabled]="currentPage >= totalPages">
                    <span nz-icon nzType="right" nzTheme="outline"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<app-view-job *ngIf="visible" [visible]="visible" [job]="job" (hide)="close($event)"></app-view-job>