<div style="height: 100%;" *ngIf="!hide">
    <nz-spin class="loading"></nz-spin>
</div>
<div style="width: 100%; background-color: #f6f8fc;;" *ngIf="hide">
    <div class="wrapper-container">
        <div class="row info">
            <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                <img style="width: 100%; object-fit: contain;" src="{{job.company.logo}}" alt="">
            </div>
            <div class="col-8 col-sm-8 col-md-10 col-lg-10 info-text">
                <h3>{{job.company.name}}</h3>
                <h2> {{job.name}}</h2>
                <div style="display: flex; justify-content: space-between; margin: 8px;">
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="/assets/icon/number.svg" alt="" style="width: 18px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Số lượng:</span> <span
                            style="font-size: 16px; font-weight: 800;">{{job.number ? job.number : 1}}</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="/assets/icon/salary.svg" alt="" style="width: 18px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Mức lương:</span> <span
                            style="font-size: 16px; font-weight: 800; color: #009900;"> {{job.salary}}</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="/assets/icon/level.svg" alt="" style="width: 18px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Cấp bậc:</span> <span
                            style="font-size: 16px; font-weight: 800;">{{job.level}}</span>
                    </div>

                </div>
                <div style="display: flex; justify-content: space-between;margin: 8px">
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="/assets/icon/career.svg" alt="" style="width: 18px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Ngành nghề:</span> <span
                            style="font-size: 16px; font-weight: 800;">{{job.career}}</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="/assets/icon/exp.svg" alt="" style="width: 18px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Kinh nghiệm:</span> <span
                            style="font-size: 16px; font-weight: 800; color: #009900;">{{job.exp}}</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="/assets/icon/sex.svg" alt="" style="width: 18px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Giới tính:</span> <span
                            style="font-size: 16px; font-weight: 800;">{{job.sex}}</span>
                    </div>

                </div>
                <div style="padding-top: 16px; display: flex;">
                    <button (click)="openUpcv()" class="btn my-2 my-sm-0 send"><span nz-icon nzType="send"
                            nzTheme="outline" style="margin-right: 8px;"></span> Ứng Tuyển</button>

                    <span style="display: flex; align-items: center; margin-left: 8px;" *ngIf="apply">
                        <i>Bạn đã ứng tuyển việc này ào ngày </i>
                        <span style="color: #009900; margin-left: 8px;">{{apply.date_created.seconds*1000 | date:'dd/MM/yyyy' }}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 32px; ">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8" style="padding: 0; background-color: white;">
                <div style="box-shadow: 0 2px 4px 0 rgba(168, 178, 186, .35); padding: 32px;">
                    <div style="display: flex; align-items: center;">
                        <h2 class="title">Chi tiết tuyển dụng</h2>
                    </div>
                    <div class="description">
                        <h3>Mô tả công việc</h3>
                        <pre>
                           {{job.description}}
                        </pre>
                    </div>
                    <div class="description">
                        <h3>Yêu cầu công việc</h3>
                        <pre>
                            {{job.require}}
                        </pre>
                    </div>
                    <div class="description">
                        <h3>Quyền lợi</h3>
                        <pre>
                            {{job.benefit}}
                        </pre>
                    </div>
                    <div class="description">
                        <h3>Địa điểm làm việc</h3>
                        <div style="display: flex;
                        align-items: center;
                        ">
                            <img src="/assets/icon/number.svg" alt="" style="width: 18px; margin-right: 8px;">
                            <span style="font-size: 16px; color: gray; margin-right: 8px;"> {{job.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="padding-top: 24px;">
                <div>
                    <h2 class="title">Việc làm cùng công ty</h2>
                    <div>
                        <app-similar-job [job_company]="job.company"></app-similar-job>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>