<div style="width: 100%; background-color: #f6f8fc;;">
    <div class="wrapper-container">
        <div class="row info">
            <div class="col-12 col-sm-4 col-md-2 col-lg-2">
                <img style="width: 100%; object-fit: contain;"
                    src="https://cdn-new.topcv.vn/unsafe/150x/filters:format(webp)/https://static.topcv.vn/company_logos/091b52d6f858563e1379c0e4e05d7842-6321adf8db2dd.jpg"
                    alt="">
            </div>
            <div class="col-12 col-sm-8 col-md-10 col-lg-10 info-text">
                <h3>CÔNG TY TNHH JOBS NGON VIỆT NAM</h3>
                <h2>Nhân Viên Kế Toán</h2>
                <div style="display: flex; justify-content: space-between; margin: 8px;">
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                            style="width: 38px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Số lượng:</span> <span
                            style="font-size: 16px; font-weight: 800;">1</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                            style="width: 38px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Mức lương:</span> <span
                            style="font-size: 16px; font-weight: 800; color: #009900;">8 triệu - 10 triệu</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                            style="width: 38px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Địa điểm:</span> <span
                            style="font-size: 16px; font-weight: 800;">TPHCM</span>
                    </div>

                </div>
                <div style="display: flex; justify-content: space-between;margin: 8px">
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                            style="width: 38px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Ngành nghề:</span> <span
                            style="font-size: 16px; font-weight: 800;">Kinh doanh</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                            style="width: 38px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Kinh nghiệm:</span> <span
                            style="font-size: 16px; font-weight: 800; color: #009900;">2 năm</span>
                    </div>
                    <div style="display: flex;
                    align-items: center; width: 33%;
                    ">
                        <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                            style="width: 38px; margin-right: 8px;">
                        <span style="font-size: 16px; color: gray; margin-right: 8px;">Giới tính:</span> <span
                            style="font-size: 16px; font-weight: 800;">Nam</span>
                    </div>

                </div>
                <div style="padding-top: 16px; display: flex;">
                    <button (click)="openUpcv()" class="btn my-2 my-sm-0 send"><span nz-icon nzType="send" nzTheme="outline"
                            style="margin-right: 8px;"></span> Ứng Tuyển</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 32px; ">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8" style="padding: 0; background-color: white;">
                <div style="box-shadow: 0 2px 4px 0 rgba(168, 178, 186, .35); padding: 32px;">
                    <div style="display: flex; align-items: center;">
                        <h2 style="border-left: 6px solid #00b14f;
                        color: #212f3f;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: -.2px;
                        line-height: 28px;
                        margin: 0;
                        padding-left: 10px;">Chi tiết tuyển dụng</h2>
                    </div>
                    <div class="description">
                        <h3>Mô tả công việc</h3>
                        <pre>
                            - Participate in building and developing product of Web applications for both Front-end and Back-end.
                            - Provide estimation for the tasks given and report transparently to project lead on any issue faced.
                            - Take responsibility for ensuring the given tasks are completed on time with high quality.
                            - Contribute ideas to make the app better and easier to use
                            - Logical thinking, problem solving, learning attitude and team work skills.
                            - Planning and suggesting your ideas to project team.
                        </pre>
                    </div>
                    <div class="description">
                        <h3>Yêu cầu công việc</h3>
                        <pre>
                            - Participate in building and developing product of Web applications for both Front-end and Back-end.
                            - Provide estimation for the tasks given and report transparently to project lead on any issue faced.
                            - Take responsibility for ensuring the given tasks are completed on time with high quality.
                            - Contribute ideas to make the app better and easier to use
                            - Logical thinking, problem solving, learning attitude and team work skills.
                            - Planning and suggesting your ideas to project team.
                        </pre>
                    </div>
                    <div class="description">
                        <h3>Quyền lợi</h3>
                        <pre>
                            - Participate in building and developing product of Web applications for both Front-end and Back-end.
                            - Provide estimation for the tasks given and report transparently to project lead on any issue faced.
                            - Take responsibility for ensuring the given tasks are completed on time with high quality.
                            - Contribute ideas to make the app better and easier to use
                            - Logical thinking, problem solving, learning attitude and team work skills.
                            - Planning and suggesting your ideas to project team.
                        </pre>
                    </div>
                    <div class="description">
                        <h3>Địa điểm làm việc</h3>
                        <div style="display: flex;
                        align-items: center;
                        ">
                            <img src="https://vieclam24h.vn/img/job-detail-v3/icon-coin.png" alt=""
                                style="width: 38px; margin-right: 8px;">
                            <span style="font-size: 16px; color: gray; margin-right: 8px;"> TP.HCM, 24A Trần Bình Trọng
                                P5,
                                Bình Thạnh</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <h2 style="border-left: 6px solid #00b14f;
                        color: #212f3f;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: -.2px;
                        line-height: 28px;
                        margin: 0;
                        padding-left: 10px;">Việc làm tương tự</h2>
                    <div>
                        <app-similar-job></app-similar-job>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>