.wrapper-container {
    max-width: 1230px;
    padding-top: 64px;
    margin: auto;
    padding-bottom: 64px;
    .fr-title {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 32px;
            margin-right: 8px;
            color: #009900;
        }

        h3 {
            font-weight: 700;
            margin: 0;

            @media (max-width: 768px) {
                font-size: 22px;
                text-align: center;
            }

        }
    }

    h5 {
        color: gray;
        text-align: center;
        font-size: 18px;
        margin-top: 8px;

        @media (max-width: 768px) {
            font-size: 16px;
        }

    }

    .fr-jobs {
        margin-top: 16px;

        .fr-main {
            background-color: white;
            // border: 1px solid lightgray;
            border-radius: 5px;
            padding: 8px;
            margin: 8px;
            //box-shadow: 0 4px 15px 0 rgba(168, 178, 186, .35);
            cursor: pointer;

            .company-name {
                font-size: 20px;
                line-height: 24px;
                color: #0c1f47;
                margin: 12px 0 2px 0;
                font-weight: 700;
                text-align: center;
            }

            .position {
                //background-color: #f0fdf5;
                border-radius: 4px;
                padding: 5px 8px;
                color: #000;
                font-size: 15px;
                //font-weight: 700;
                text-align: center;
                display: flex;
                align-items: center
            }
        }
    }
}