<div nz-col class='col' style="max-width: 400px;">
    <h2 style="text-align: center; color: #00b14f; font-weight: bold;">Đăng Ký</h2>
    <h3 style="text-align: center; color: #00b14f;">Người tìm việc</h3>
    <form [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">
        <nz-input-group nzPrefixIcon="info-circle">
            <input type="text" nz-input formControlName="name" placeholder="Tên" />
        </nz-input-group>
        <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
        <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Mật khẩu (ít nhất 6 ký tự)" />
        </nz-input-group>
        <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="cpassword" placeholder="Nhập lại mật khẩu" />
        </nz-input-group>
        <button type="submit" nz-button [disabled]="registerForm.invalid" [nzType]="'primary'">
            <span *ngIf="!loading">Đăng ký</span>
            <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>
        </button>
    </form>
    <h3 style="text-align: center; margin: 12px; font-size: 14px;">- Hoặc - </h3>
    <button (click)="signinGoogle()" nz-button [nzType]="'primary'">
        <i nz-icon nzType="google" nzTheme="outline"></i> Đăng nhập bằng Google</button>
    <div nz-col nzSpan="24" style="padding-top: 8px; text-align: center;">
        Bạn đã có tài khoản? <a style="color:var(--ion-color-hu-green)" [routerLink]="['/login']">Đăng
            nhập</a>
    </div>
</div>