@media screen and (max-width: 768px) {
    .title {
        font-size: 16px !important;
    }

    .img {
        width: 80px !important;
        height: 80px !important;
    }
}

.header {
    width: 100%;
    align-items: center;
    background: url('https://freec.asia/_next/static/image/_/_/packages/optimal-page/wrapper/home/assets/img/hero-bg.2380e96d80b27db77a176d33b9d46801.png'), linear-gradient(90deg, #373c41, #009900);
    background-repeat: no-repeat;
    height: 225px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner {
        // background-image: url('https://static.topcv.vn/company_covers/yrYCornVZxygAS9G4IOW.jpg');
        background-repeat: no-repeat;
        color: #fff;
        height: 20.4583333333vw;
        background-size: 100% 100%;

        @media screen and (max-width: 768px) {
            height: 42vw;
        }

        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px 8vw 12px 8vw;

        @media screen and (max-width: 768px) {
            padding: 8px;
        }

        .img {
            object-fit: contain;
            width: 140px;
            height: 140px;
           // border: 1px solid lightgray;
            border-radius: 5px;
            margin: auto;
        }
    }
}

.intro {
    width: 100%;
    padding: 20px 24px;

    @media screen and (max-width: 768px) {
        padding: 12px 12px;
    }

    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;

    h2 {
        color: #009900;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .col-intro {
        display: flex;
        flex-direction: column;
        padding: 8px;
        align-items: center;

        .polici {
            align-items: flex-start;
            padding: 16px;
            box-shadow: -1px 1px 6px rgb(0 0 0 / 15%);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

.box {
    padding: 16px 12vw 16px 12vw;
    width: 100%;

    @media screen and (max-width: 768px) {
        padding: 8px;
    }

    .fr-list {
        // background: #fff;
        // border-bottom: solid 1px #e8e8e8;
        width: 100%;

        .fr-jobs {
            .fr-main {
                background-color: white;
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 8px;
                margin: 8px;
                //box-shadow: 0 4px 15px 0 rgba(168, 178, 186, .35);
                cursor: pointer;

                .fr-info {
                    display: flex;
                    width: 100%;

                    .job-name {
                        font-weight: 700;
                        text-transform: capitalize;
                        color: #000;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .company-name {
                        color: gray;
                        text-transform: capitalize;
                        font-weight: 700;
                    }

                    .salary {
                        display: flex;
                        align-items: center;
                        color: #009900;
                        font-size: 14px;

                        .icon {
                            margin-right: 4px;
                            color: gray;
                        }

                        .address {
                            font-weight: 700;
                            color: #4f535b;
                        }
                    }

                    .view-job {

                        font-weight: 600;
                        background: #009900;
                        color: white;
                        margin: 8px;
                        font-size: 14px;

                    }

                    .info-jobs {
                        display: flex;
                        align-items: center;
                        margin-top: 4px;

                        .icon {
                            margin-right: 4px;
                            color: gray;
                        }
                    }
                }
            }

            .fr-main:hover {
                border-color: #009900;
            }
        }

        .panigation {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            button {
                border: 0.5px solid lightgray;
                margin: 4px;
                font-size: 14px;
                font-weight: 600;
                color: #4f535b;
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            button:hover {
                background-color: #009900;
                color: white;
            }

            .disabled {
                opacity: 0.5;
                /* Làm mờ nút */
                pointer-events: none;
                /* Không cho hover hoặc sự kiện click */
            }
        }
    }
}