<div class="wrapper-container">
    <div nz-row class='body' *ngIf="!hide">
        <div nz-row class='theme' style="margin-bottom: 32pt;">
            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="18" nzXl="18"
                style="display: flex; justify-content: start; align-items: center;">
                <app-theme [theme]="resume.theme" (color)="setColor($event)" (lang)="changeLang($event.value)"
                    (fontfamily)="setFontfamily($event)" (fontsize)="setFontsize($event)"></app-theme>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="6"
                style="text-align: center; padding: 4pt; display: flex;">

                <button class="button" (click)="exportPDF()" nz-button>
                    Tải CV
                </button>
                <button class="button" (click)="saveResume()" [disabled]="disable" nz-button>
                    <i nz-icon nzType="save"></i>
                    Lưu CV
                </button>
                <ng-template #contentTemplate>
                    <div style="cursor: pointer;">
                        <p style=" font-weight: 600;" (click)="copy()">Copy
                            link cv
                        </p>
                        <p style="font-weight: 600;" (click)="viewOnline()">Xem cv online</p>
                        <p nz-popconfirm nzPopconfirmTitle="Đặt lại dữ liệu CV mẫu?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="setDefault()" style="font-weight: 600;">Đặt lại dữ liệu mẫu</p>
                    </div>
                </ng-template>
                <button class="button" nz-popover [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"
                    nz-button style="font-size: 11px;">
                    <i nz-icon nzType="menu"></i>
                </button>
            </div>
        </div>
        <div class='cv' id='tmp5'>
            <div nz-row style="height: 100%;border: 1px solid lightgray;">
                <div nz-col nzSpan="10" style="padding: 16pt; background-color: rgb(235, 233, 233);">
                    <div nz-row>
                        <div nz-col class="img" (click)="getFile()" style="cursor: pointer;">
                            <img [ngStyle]="{'border-color': resume.theme.color}"
                                [src]="resume.info.img? resume.info.img : 'assets/icon/user.svg'" alt=""
                                style="object-fit: cover;width: 100%;border: 3pt solid; margin: auto;border-radius: 100%;height: 100%;">

                        </div>
                        <div style="padding-top: 8pt; width: 100%;">
                            <textarea [minRows]="1" autosize [ngStyle]="{'color': resume.theme.color,
                                'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.name+5}"
                                style="background-color: transparent;width: 100%; text-align: center;font-weight: 700; padding: 0;"
                                type="text" class='input-content' [(ngModel)]="resume.info.name"></textarea>
                            <input
                                [ngStyle]="{'color': resume.theme.color,'fontSize.pt': resume.theme.font+3 ,'font-family':resume.theme.fontfamily}"
                                style="background-color: transparent;font-weight: 600;text-align: center;text-transform: capitalize; width: 100%;padding: 0;"
                                type="text" class='input-content' [(ngModel)]="resume.title" />
                        </div>
                    </div>

                    <div nz-row style="width: 100%;padding-top: 16pt;margin-bottom: 4pt;"
                        (mouseenter)="this.showInfo=true" (mouseleave)="this.showInfo=false"
                        [ngStyle]="{'border': showInfo ? '1pt solid lightgrey' : 'none'}">
                        <div *ngIf="showInfo" class="edit" style="left: 16pt;">
                            <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                <i nz-icon nzType="menu" nzTheme="outline"></i>
                            </button>
                        </div>
                        <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                            nz-col class='name'>
                            <input class='input' type="text" [(ngModel)]="resume.info.title">
                        </div>
                        <div style="width: 100%;display: flex; align-items: center;"
                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="calendar"
                                nzTheme="outline"></i>
                            <input style="background-color: transparent;" type="text" class='input-content'
                                [(ngModel)]="resume.info.dateBirth" />
                        </div>
                        <div style="width: 100%;display: flex; align-items: center;"
                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="user" nzTheme="outline"></i>
                            <input style="background-color: transparent;" type="text" class='input-content'
                                [(ngModel)]="resume.info.sex" />
                        </div>
                        <div style="width: 100%;display: flex; align-items: center;"
                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="phone" nzTheme="outline"></i>
                            <input style="background-color: transparent;" type="text" class='input-content'
                                [(ngModel)]="resume.info.phone" />
                        </div>
                        <div style="width: 100%;display: flex; align-items: center;"
                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon nzType="mail" nzTheme="outline"></i>
                            <input style="background-color: transparent;" type="text" class='input-content'
                                [(ngModel)]="resume.info.email" />
                        </div>
                        <div style="width: 100%; display: flex; align-items: center;"
                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}">
                            <i [ngStyle]="{'color': resume.theme.color}" nz-icon>
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0pt" y="0pt"
                                    viewBox="0 0 368.16 368.16" style="enable-background:new 0 0 368.16 368.16;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M184.08,0c-74.992,0-136,61.008-136,136c0,24.688,11.072,51.24,11.536,52.36c3.576,8.488,10.632,21.672,15.72,29.4
                l93.248,141.288c3.816,5.792,9.464,9.112,15.496,9.112s11.68-3.32,15.496-9.104l93.256-141.296
                c5.096-7.728,12.144-20.912,15.72-29.4c0.464-1.112,11.528-27.664,11.528-52.36C320.08,61.008,259.072,0,184.08,0z
                 M293.8,182.152c-3.192,7.608-9.76,19.872-14.328,26.8l-93.256,141.296c-1.84,2.792-2.424,2.792-4.264,0L88.696,208.952
                c-4.568-6.928-11.136-19.2-14.328-26.808C74.232,181.816,64.08,157.376,64.08,136c0-66.168,53.832-120,120-120
                c66.168,0,120,53.832,120,120C304.08,157.408,293.904,181.912,293.8,182.152z" />
                                                <path d="M184.08,64.008c-39.704,0-72,32.304-72,72c0,39.696,32.296,72,72,72c39.704,0,72-32.304,72-72
                C256.08,96.312,223.784,64.008,184.08,64.008z M184.08,192.008c-30.872,0-56-25.12-56-56s25.128-56,56-56s56,25.12,56,56
                S214.952,192.008,184.08,192.008z" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </i> <textarea style="background-color: transparent;" [minRows]="1" autosize type="text"
                                class='input-content' [(ngModel)]="resume.info.address"></textarea>
                        </div>
                    </div>



                    <!-- goal -->
                    <div *ngIf='resume.goal.status' (mouseenter)="this.showGoal=true" (mouseleave)="this.showGoal=false"
                        [ngStyle]="{'border': showGoal ? '1pt solid lightgrey' : 'none'}">
                        <div *ngIf="showGoal" class="edit" style="left: 16pt;">
                            <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                <i nz-icon nzType="menu" nzTheme="outline"></i>
                            </button>
                            <button class="button-edit" (click)="hideGoal()"
                                style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon nzType="minus"
                                    nzTheme="outline"></i> Ẩn
                                mục</button>

                        </div>
                        <div nz-row style="width: 100%;padding-top: 16pt;margin-bottom: 4pt;">
                            <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                                nz-col class='name'>

                                <input class='input' type="text" [(ngModel)]="resume.goal.title">
                            </div>
                            <div nz-row style="width: 100%;">
                                <div style="width: 100%;"
                                    [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                    class='decs-just'>
                                    <textarea style="width: 100%;" autosize type="text" class='input-content'
                                        [(ngModel)]="resume.goal.value"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div [ngStyle]="{'border': showDragS ? '3pt dotted lightgrey' : 'none'}" cdkDropList
                        (cdkDropListDropped)="dropS($event)">
                        <div cdkDrag *ngFor="let data of resume.data_slc; let i = index" (mouseenter)="this.showS=i"
                            (mouseleave)="this.showS=null">
                            <div *ngIf="showS==i" class="edit" style="left: 16pt;">
                                <div style="display: flex;align-items: center;">
                                    <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                        <i nz-icon nzType="menu" nzTheme="outline"></i>
                                    </button>
                                    <button class="button-edit" (click)="hideDataS(data)"
                                        style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon
                                            nzType="minus" nzTheme="outline"></i> Ẩn
                                        mục</button>

                                </div>
                                <div *ngIf="data.titleStatus !=='Yêu thích'">
                                    <button class="button-edit" (click)="addDataS(i)"
                                        style="background-color: #00b14f; opacity: 0.8;" nz-button><i nz-icon
                                            nzType="plus" nzTheme="outline"></i> Thêm</button>

                                </div>
                                <div (mouseenter)="this.showDragS=true" (mouseleave)="this.showDragS=false">
                                    <button nzType="default" class="drag" nz-button>
                                        <i nz-icon nzType="drag" nzTheme="outline"></i>
                                    </button>
                                </div>
                            </div>

                            <div nz-row style="width: 100%;padding-top: 16pt;margin-bottom: 4pt;" cdkDropList
                                (cdkDropListDropped)="dropSsub($event,i)" *ngIf="data.status"
                                [ngStyle]="{'border': showS==i ? '1pt solid lightgrey' : 'none'}">

                                <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                                    nz-col class='name'>

                                    <input class='input' type="text" [(ngModel)]="data.title">
                                </div>
                                <div nz-row cdkDrag *ngFor="let item of data.data; let j = index"
                                    (mouseenter)="this.showDeleteS = j" (mouseleave)="this.showDeleteS =''"
                                    style="width: 100%;">
                                    <div style="border-bottom: 2pt dotted gray; border-top: none; width: 92%;right: 16pt;"
                                        *ngIf="showDeleteS ==j && showS==i && data.data.length >1"
                                        class="button-delete">
                                        <button style="top: -10pt;" nzType="default" class="drag" nz-button>
                                            <i nz-icon nzType="drag" nzTheme="outline"></i>
                                        </button>
                                        <button class="button-edit" (click)="deleteDataS(i,j)"
                                            style="background: #f22f2f; opacity: 0.8; top: -10pt;" nz-button>
                                            <i nz-icon nzType="minus" nzTheme="outline"></i> Xóa
                                        </button>
                                    </div>

                                    <!-- chứng chỉ, giải thưởng -->
                                    <div *ngIf="data.titleStatus !=='Kỹ năng' && data.titleStatus !=='Yêu thích' && data.titleStatus !=='Ngôn ngữ'"
                                        style="width: 100%;display: flex;">
                                        <div style="width: 75%;"
                                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                            class='decs-just'>
                                            <textarea class="decs-just" [minRows]="1" autosize type="text"
                                                class='input-content' [(ngModel)]="item.value"></textarea>
                                        </div>
                                        <div style="width: 25%;"
                                            [ngStyle]="{'font-family':resume.theme.fontfamily , 'fontSize.pt': resume.theme.font}">
                                            <textarea style="font-weight: 700; text-align: end; font-size: .9em;"
                                                class="decs-just" [minRows]="1" autosize type="text"
                                                class='input-content' [(ngModel)]="item.name"></textarea>
                                        </div>
                                    </div>


                                    <!-- yêu thích -->
                                    <div nz-row *ngIf="data.titleStatus =='Yêu thích'" style="width: 100%;">
                                        <div style="width: 100%;"
                                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                            class='decs-just'>
                                            <textarea style="width: 100%;" class="decs-just" [minRows]="1" autosize
                                                type="text" class='input-content' [(ngModel)]="item.value"></textarea>
                                        </div>
                                    </div>

                                    <!-- ngôn ngữ -->
                                    <div *ngIf="data.titleStatus =='Ngôn ngữ' && data.titleStatus !=='Yêu thích'" nz-row
                                        style="width: 100%;display: flex;align-items: center;">
                                        <div style="display: flex;align-items: center"
                                            [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                            class='decs-just'><input autoSizeInput type="text" class='input-content'
                                                [(ngModel)]="item.name">:
                                            <textarea class="decs-just" [minRows]="1" autosize type="text"
                                                class='input-content' [(ngModel)]="item.value"></textarea>

                                        </div>
                                    </div>

                                    <!-- kỹ năng -->
                                    <div *ngIf="data.titleStatus =='Kỹ năng'"
                                        style="width: 100%;display: flex;align-items: center;">
                                        <div nz-col nzSpan="10"
                                            [ngStyle]="{'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font}">
                                            <textarea class="decs-just" [minRows]="1" autosize type="text"
                                                class='input-content' [(ngModel)]="item.name"></textarea>
                                        </div>
                                        <div nz-col nzSpan="14" (mouseenter)="this.changeski = true"
                                            (mouseleave)="this.changeski = false">
                                            <div *ngIf="!changeski"
                                                style="border: 1pt solid; height: 12pt; border-radius: 3pt;"
                                                [ngStyle]="{'border-color': resume.theme.color}">
                                                <div [ngStyle]="{'background-color': resume.theme.color,'color': resume.theme.color}"
                                                    [style.width.%]='item.value' style="height: 100%;"></div>
                                            </div>
                                            <nz-slider
                                                [ngStyle]="{'background-color': resume.theme.color,'color': resume.theme.color}"
                                                *ngIf="changeski" [(ngModel)]="item.value"></nz-slider>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div [ngStyle]="{'border': showDragL ? '3pt dotted lightgrey' : 'none'}" cdkDropList
                        (cdkDropListDropped)="dropL($event)">
                        <div cdkDrag *ngFor="let data of resume.data_adr; let i = index" (mouseenter)="this.showL=i"
                            (mouseleave)="this.showL=null">
                            <div *ngIf="showL ==i" class="edit" style="left: 16pt;">
                                <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                    <i nz-icon nzType="menu" nzTheme="outline"></i>
                                </button>
                                <button class="button-edit" (click)="hideDataL(data)"
                                    style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon nzType="minus"
                                        nzTheme="outline"></i> Ẩn
                                    mục</button>

                                <div (mouseenter)="this.showDragL=true" (mouseleave)="this.showDragL=false">
                                    <button nzType="default" class="drag" nz-button>
                                        <i nz-icon nzType="drag" nzTheme="outline"></i>
                                    </button>
                                </div>
                            </div>

                            <div nz-row style="width: 100%;padding-top: 16pt;margin-bottom: 4pt;" *ngIf="data.status"
                                [ngStyle]="{'border': showL==i ? '1pt solid lightgrey' : 'none'}">
                                <div [ngStyle]="{'border-color': resume.theme.color,'color': resume.theme.color, 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                                    nz-col class='name'>

                                    <input class='input' type="text" [(ngModel)]="data.title">
                                </div>
                                <div nz-row style="width: 100%;">
                                    <div style="width: 100%;"
                                        [ngStyle]="{'fontSize.pt': resume.theme.font ,'font-family':resume.theme.fontfamily}"
                                        class='decs-just'>
                                        <textarea [minRows]="1" autosize style="width: 100%;" type="text"
                                            class='input-content' [(ngModel)]="data.value"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div nz-col nzSpan="14" style="padding: 16pt; background-color: rgb(250, 250, 250)">



                    <!-- educations -->
                    <div [ngStyle]="{'border': showDragE ? '3pt dotted lightgrey' : 'none'}" cdkDropList
                        (cdkDropListDropped)="drop($event)">
                        <div cdkDrag *ngFor="let data of resume.data_eec; let i = index" (mouseenter)="this.show=i"
                            (mouseleave)="this.show=null">
                            <div *ngIf="show ==i" class="edit" style="left: 16pt;">
                                <div style="display: flex;align-items: center;">
                                    <button (click)="openMenu()" nzType="default" class="menu" nz-button>
                                        <i nz-icon nzType="menu" nzTheme="outline"></i>
                                    </button>
                                    <button class="button-edit" (click)="hideDataE(data)"
                                        style="background-color: #f22f2f; opacity: 0.8;" nz-button><i nz-icon
                                            nzType="minus" nzTheme="outline"></i> Ẩn
                                        mục</button>

                                </div>
                                <div>
                                    <button class="button-edit" (click)="addDataE(i)"
                                        style="background-color: #00b14f; opacity: 0.8;" nz-button><i nz-icon
                                            nzType="plus" nzTheme="outline"></i> Thêm</button>
                                </div>

                                <div (mouseenter)="this.showDragE=true" (mouseleave)="this.showDragE=false">
                                    <button nzType="default" class="drag" nz-button>
                                        <i nz-icon nzType="drag" nzTheme="outline"></i>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="data.status" cdkDropList (cdkDropListDropped)="dropEsub($event,i)"
                                [ngStyle]="{'border': show==i ? '1pt solid lightgrey' : 'none'}" nz-row
                                style="width: 100%;margin-bottom: 4pt;">
                                <div [ngStyle]="{'background-color': resume.theme.color,'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.title}"
                                    nz-col class='name-1'>

                                    <input class='input' type="text" [(ngModel)]="data.title">
                                </div>
                                <div nz-row cdkDrag *ngFor="let item of data.data; let j = index"
                                    (mouseenter)="this.showDelete = j" (mouseleave)="this.showDelete =''"
                                    style="width: 100%;">
                                    <div nz-col style="display: flex;flex-direction: column;width: 100%;">
                                        <div *ngIf="showDelete ==j && show==i && data.data.length >1"
                                            class="button-delete" style="width: 100%; right: 0;">
                                            <button nzType="default" class="drag" nz-button>
                                                <i nz-icon nzType="drag" nzTheme="outline"></i>
                                            </button>
                                            <button class="button-edit" (click)="deleteDataE(i,j)"
                                                style="background: #f22f2f; opacity: 0.8;" nz-button>
                                                <i nz-icon nzType="minus" nzTheme="outline"></i> Xóa
                                            </button>
                                        </div>
                                        <div
                                            [ngStyle]="{'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font}">
                                            <textarea [minRows]="1" autosize style="width: 100%; font-weight: 700;"
                                                type="text" class='input-content' [(ngModel)]="item.name"></textarea>
                                        </div>
                                        <span> <input [ngStyle]="{'fontSize.pt':resume.theme.font - 1}"
                                                style="font-weight: 500;" class="input-content" autoSizeInput
                                                [(ngModel)]="item.start"> -
                                            <input [ngStyle]="{'fontSize.pt':resume.theme.font -1}"
                                                style="font-weight: 500;" autoSizeInput class="input-content"
                                                [(ngModel)]="item.end"></span>
                                        <div
                                            [ngStyle]="{'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font}">
                                            <textarea [ngStyle]="{'color': resume.theme.color}" [minRows]="1" autosize
                                                style="width: 100%;" type="text" class='input-content'
                                                [(ngModel)]="item.position "></textarea>
                                        </div>
                                        <div class='decs-just'
                                            [ngStyle]="{ 'font-family':resume.theme.fontfamily, 'fontSize.pt':resume.theme.font} ">
                                            <textarea [minRows]="1 " autosize style="width: 100%; " type="text "
                                                class='input-content' [(ngModel)]="item.describe "></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <input style="display: none;" id="file-upload" type="file" accept=".png, .jpg" (change)="upLogo($event)" />
        <app-menu [dataIn]="resume" (closeMenu)="closeMenu($event)" [isVisible]="isVisible"></app-menu>
    </div>