<div nz-row style="display: flex; justify-content: start; align-items: center; width: 100%;">
    <div nz-col nzSpan="5" class="flag">

        <div nz-col class="flag-icon" *ngFor="let lang of cvlang">
            <a nz-popconfirm nzPopconfirmTitle="Ngôn ngữ sẽ chỉ thay đổi lần đầu trước khi dữ liệu CV được lưu!"
                nzPopconfirmPlacement="bottom" (nzOnConfirm)="setCvlang(lang)">
                <img [ngClass]="{'active': lang.value == data.lang}" style="cursor: pointer;width: 100%;"
                    [src]="lang.img" alt="">
            </a>
        </div>
    </div>
    <div nz-col nzSpan="5" style="display: flex;align-items: center; justify-content: center;">
        <div nz-row>
            <div nz-col style="padding: 4px;">
                <input type="color" name="" id="" [(ngModel)]="data.color" (ngModelChange)="setColor(data.color)">
                <!-- <button class='button' [style.background]="color" (click)="setColor(color)"></button>
                <i class="check" nz-icon *ngIf="color == data.color" nzType="check" nzTheme="outline"></i> -->
            </div>
        </div>
    </div>
    <div nz-col nzSpan="8" style="display: flex;align-items: center; justify-content: center;">
        <nz-select class='select' nzMode="default" [(ngModel)]="data.fontfamily"
            (ngModelChange)="setFontfamily($event)">
            <nz-option *ngFor="let option of listOfFonts" [nzLabel]="option.name" [nzValue]="option.value">
            </nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="6" style="display: flex;align-items: center; justify-content: center;">
        <div nz-col class="font"
            [ngStyle]="{'background-color': item.font == data.font ? 'var(--ion-color-hu-brown)':'white', 'color': item.font == data.font ? 'white':'black'}"
            *ngFor="let item of font" (click)="setFontsize(item)">
            <span [style.font-size]="item.font+'px'">
                A
            </span>
        </div>
    </div>
</div>