<div class="wrapper-container">
    <div class="row" style="padding: 16px;">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <div class="fr-info">
                <h3>Tài khoản</h3>
                <div>
                    <span class="line" routerLink="/thong-tin"
                        [ngStyle]="{'background-color': getLastPath() == '/thong-tin' ? '#cff7cf': ''}">
                        <span nz-icon nzType="user" nzTheme="outline" style="margin-right: 12px;"></span> <span>Tài
                            khoản của bạn</span>
                    </span>
                    <span class="line" routerLink="/thong-tin/viec-lam-da-ung-tuyen"
                        [ngStyle]="{'background-color': getLastPath() == '/thong-tin/viec-lam-da-ung-tuyen' ? '#cff7cf': ''}">
                        <span nz-icon nzType="container" nzTheme="outline" style="margin-right: 12px;"></span>
                        <span>Việc làm đã ứng tuyển</span>
                    </span>
                    <span class="line" routerLink="/thong-tin/viec-lam-da-luu"
                        [ngStyle]="{'background-color': getLastPath() == '/thong-tin/viec-lam-da-luu' ? '#cff7cf': ''}">
                        <span nz-icon nzType="save" nzTheme="outline" style="margin-right: 12px;"></span>
                        <span>Việc làm đã lưu</span>
                    </span>
                    <span class="line" routerLink="/thong-tin/cv"
                        [ngStyle]="{'background-color': getLastPath() == '/thong-tin/cv' ? '#cff7cf': ''}">
                        <span nz-icon nzType="read" nzTheme="outline" style="margin-right: 12px;"></span> <span>Cv của
                            bạn</span>
                    </span>
                    <span class="line" nz-popconfirm nzPopconfirmTitle="Đang xuất?" nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="logout()">
                        <span nz-icon nzType="logout" nzTheme="outline" style="margin-right: 12px;"></span> <span>Đăng
                            xuất</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
            <div class="fr-outlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>