<div class="wrapper-container">
    <div class="fr-title">
        <span class="icon" nz-icon nzType="pic-center" nzTheme="outline"></span>
        <h3>Các ngành nghề <span style="color: #009900;">triển vọng</span> cho bạn</h3>
    </div>
    <h5>Lựa chọn ngành nghề phù hợp với bạn</h5>
    <div class="fr-jobs">
        <div class="row" style="padding: 16px;">
            <div class="col-12">
                <owl-carousel-o [options]="carouselOptions">
                    <ng-container class="item" *ngFor="let item of industry">
                        <ng-template carouselSlide>
                            <div class="fr-main" (click)="gotoDetail(item.link)" [style.background-color]="item.color">
                                <!-- <div style="height: 80px; text-align: center;">
                                    <img src="https://freec.asia/_next/image?url=%2F_next%2Fstatic%2Fimage%2F_%2F_%2Fpackages%2Foptimal-page%2Fwrapper%2Fhome%2Fassets%2Fimg%2FIT-NetworkHardware.5f873612fefbf9cd73a30bc2be225fc7.webp&w=48&q=75"
                                        alt="" style="height: 100%;
                                    object-fit: contain;">
                                </div> -->

                                <div class="company-name">
                                    {{item.name}}
                                </div>


                                <div class="position">
                                    Xem thêm
                                </div>

                            </div>
                        </ng-template>

                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>